In [3]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size= "6" color="red">ch02. 자료형과 연산자</font></b>
# 5.절 연산자
## 5.1 산술 연산자: +,-,*,/(결과 float), //(몫), %(나머지),**(제곱)

In [14]:
print("10*5승 =", 10 ** 5)
print("5/2(결과 실수) = ", 5/2)
print("5//2(몫) =", 5//2)
print("5%2(나머지)="5%2)

10*5승 = 100000
5/2(결과 실수) =  2.5

In [12]:
# 정수끼리 연산은 결과가 정수(단 / 제외)
# 정수와 실수, 실수끼리 연산 결과는 실수
print("4**2=",4**2.0)

4**2= 16.0

In [29]:
num = int(input("정수를 입력하세요:"))
result = num % 2 #-1, 0, 1
if result:
    temp = "홀수"
else:
    temp = "짝수"
print(f"입력하신 수는{num},2로 나눈 나머지는 {result}라서 {temp}를 입력하셨습니다")

정수를 입력하세요:40
입력하신 수는40,2로 나눈 나머지는 0라서 짝수를 입력하셨습니다

In [44]:
# Quiz2. 정수를 입력받아 5의 배수인지 여부를 출력

num1 = int(input("정수를 입력하세요:"))

if num1 % 5 == 0:
    temp="5의배수"
else:
    temp="5의 배수가 아님"
print(f"입력하신 수는 {num1}이고, {temp}를 입력하셨습니다")

정수를 입력하세요:30
입력하신 수는 30이고, 5의배수를 입력하셨습니다

In [35]:
# Quiz3. 국, 영, 수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오

In [42]:
kor = int(input("국어 점수를 입력하시오:"))
eng = int(input("영어 점수를 입력하시오:"))
math = int(input("수학 점수를 입력하시오:"))
result = kor + eng + math
avg = result / 3
print(f"국어 영어 수학의 총점은 {result:3d}이고, 평균은{avg:5.1f}입니다.")

국어 점수를 입력하시오:99
영어 점수를 입력하시오:100
수학 점수를 입력하시오:10
국어 영어 수학의 총점은 209이고, 평균은 69.7입니다.

## 5.2 할당연산자: =, +=, -=, /=, *=, //=, %=

In [65]:
a= 10
a += 5 # a = a+ 5와 동일
print(f"a = {a}")

a = 15

In [66]:
a -= 5 #a = a-5 와 동일
print(f"a = {a}")
a *= 10
print(f"a = {a}")

a //= 5 # a = a// 5
print(f"5나눈 몫:{a}")

a = 10
a = 100
5나눈 몫:20

## 5.3 논리연산자 : &, and, |, or, not

In [68]:
# & : 논리연산자, 비트연산자
print( (10>3) & (10>5)) #논리연산 True & True
print(12 & 1) # 비트 연산   #1 1 0 0 (12)
                           #0 0 0 1 (1)
                        #&: 0 0 0 0 
print("{:4b}".format(12))

True
0
1100

In [71]:
# and : 논리 연산자. False로 판별되는 첫번째 항의 결과 반환
        # 모든 항이 True면, 마지막 항의 결과 반환
print( (10>3) and (10>5))
print(0 and 1)

True
0

In [77]:
# | : 논리연산, 비트연산
result = True | False
print("논리연산(연산자 안뒤에 논리형일 때): ", result)
result = False | 3 # 0000(0)
                   # 0011(3)
print("비트연산(연산자 앞이나 뒤에 숫자일 때) :", result)

논리연산(연산자 안뒤에 논리형일 때):  True
비트연산(연산자 앞이나 뒤에 숫자일 때) : 3

In [79]:
# or : 논리연산 (참이 하나라도 먼저 나오면 참이 출력된다.)
# 모든 항이 거짓이면 마지막 항이 출력된다.
print(False or 0 or 'hong' or None or [])

hong

In [81]:
not 10 > 5

True

## 5.4 비교 연산자: >, >=, <, <=, ==, != (다르다)

In [86]:
# 비교연산자는 이항, 삼항, 사항, ... 다항연산자
x = 95
print( (90<=x) & (x<=100))
print(90 <= x <= 100)
print(90 <= x <= 100 > 10)

True
True
True

In [89]:
# 비교 연산자의 우선순위가 비트연산자(|, &) 의 우선순위보다 낮다
print((10>5)& (10>7))# 괄호가 없으면 우선순위가 높은 5 & 10부터 계산함
print(10>5 & 10> 7)
print(10 > 0 > 7)
# 0101(5) & 1010(10)

True
False
False

In [91]:
address = "목동"
age = 29
print( (address=="목동") & (age<= 30))

True

In [92]:
"김길동" < "홍길동"

True

In [93]:
# 문자는 ASCII코드 순으로 비교할 수 있다 : 특수문자 < 숫자문자 < 대문자 < 소문자(abc)
"scott" < "tiger"

True

## 5.5 비트연산: &, |, ^(XOR), ~(반대)

```
x   y   x&y   x|y    x^y   ~x
------------------------------
0   0    0     0      0     1
0   1    0     1      1     1
1   0    0     1      1     0
1   1    1     1      0     0


```

In [10]:
a = 15 #(1111) 8+4+2+1
b = 2 #(0010)

print("a = {0:2}:{0:04b}".format(a))
print("b = {0:2}:{0:04b}".format(b))
print("a&b = {0:2}:{0:04b}".format(a&b))
print("a|b = {0:2}:{0:04b}".format(a|b))
print("a^b = {0:2}:{0:04b}".format(a^b))

a = 15:1111
b =  2:0010
a&b =  2:0010
a|b = 15:1111
a^b = 13:1101

# 6절 문자열 다루기
- 문자열변수[from:to:step] : 일부 문자 추출
- len(문자열 변수): 문자수

- upper(): 대문자로 바꿔서 출력
- lower(): 소문자로 바꿔서 출력
- title(): 각 어절의 앞글자만 대문자로 바꿔서 출력
- capitalize(): 첫문자만 대문자로
- count("찾을 문자"): "찾을 문자"가 몇 개 들어있는지 갯수 반환
- find("찾을 문자"): "찾을 문자"가 왼쪽부터 몇번째에 있는지 index를 반환 (없으면 -1)
- rfind("찾을 문자"): "찾을문자가 오른쪽부터 몇번째에 있는지 index를 반환 (없으면 -1)
- cf. index("찾을 문자"): 찾을문자가 왼쪽부터 몇번째에 있는 index를 반환(없으면 에러)
- startswith("특정 문자"): "특정문자"로 시작하는지 여부 반환
- endswith("특정 문자"): :"특정문자:로 끝나는 지 여부 반환

- strip(): 문자열에 좌우공백제거(trim)
- lstrip(): 왼쪽공백제거
- rstrip(): 오른쪽 공백 제거
- split()**: 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환**
- isdigit(): 문자열이 숫자문자열인지 여부반환
- islower(): 문자열이 소문자인지 여부 반환
- is upper(): 문자열이 대문자인지 여부 반환
- replace(oldStr, newStr) : oldStr을 newStr로 변경

In [25]:
temp = "python is easy. python is smart. python"
temp, len(temp)

('python is easy. python is smart. python', 39)

In [52]:
temp = "python is easy. python is smart. python"
    # 012345789012345678901234567890123
print("대문자로: ", temp.upper())
print("소문자로: ",temp.lower())
print("title: ", temp.title())
print("capitalize: ",temp.capitalize())

print("python이 몇 번 나오는 지",temp.count("python"))
print("대소문자 구분없이 python이 몇번: ",temp.lower().count("python"))
print("대소문자 구분없이 python이 몇번: ",temp.upper().count("PYTHON"))
print("대소문자 구분없이 python이 몇번: ",temp.title().count("Python"))
print("C가 몇 번 나오는 지",temp.count("C"))
print("python이 나오는 첫 index 위치: ", temp.find("python"))
print("python이 나오는 마지막 index 위치: ", temp.rfind("python"))
print("C라는 문자가 나오는 index위치: ",temp.find("C")) #찾을 문자가 없을 경우 -1
print("python 이 나오는 첫 index위치: ",temp.index("python"))
# print("java가 나오는 첫 index위치: ",temp.index("java")) 없는 문자
print("대소문자 구분없이 python으로 시작하는 여부: ", temp.lower().startswith("python"))
print("python으로 끝나는지 여부: ", temp.endswith("python"))
print("n으로 끝나는 지 여부: ",temp.endswith("n"))
print("python을 R로 변경:", temp.replace("python","R"))
print(temp)

대문자로:  PYTHON IS EASY. PYTHON IS SMART. PYTHON
소문자로:  python is easy. python is smart. python
title:  Python Is Easy. Python Is Smart. Python
capitalize:  Python is easy. python is smart. python
python이 몇 번 나오는 지 3
대소문자 구분없이 python이 몇번:  3
대소문자 구분없이 python이 몇번:  3
대소문자 구분없이 python이 몇번:  3
C가 몇 번 나오는 지 0
python이 나오는 첫 index 위치:  0
python이 나오는 마지막 index 위치:  33
C라는 문자가 나오는 index위치:  -1
python 이 나오는 첫 index위치:  0
대소문자 구분없이 python으로 시작하는 여부:  True
python으로 끝나는지 여부:  True
n으로 끝나는 지 여부:  True
python을 R로 변경: R is easy. R is smart. R
python is easy. python is smart. python

In [63]:
temp = "     python is eay        "
notdigit = "1,000"
print("좌우 공백 제거: [{}]".format(temp.strip())) # 좌우 공백 확인은 format함수로 확인
print("왼쪽 공백 제거: [{}]".format(temp.lstrip()) )
print("오른쪽 공백 제거: [{}]".format(temp.rstrip()))
print("isdigit(숫자문자)인지 여부: ", notdigit.isdigit())
print("replace후 isdigit: ", notdigit.replace(",","").isdigit())
print("대소문자 구분",temp.isupper())
print("대소문자 구분",temp.islower())

좌우 공백 제거: [python is eay]
왼쪽 공백 제거: [python is eay        ]
오른쪽 공백 제거: [     python is eay]
isdigit(숫자문자)인지 여부:  False
replace후 isdigit:  True
대소문자 구분 False
대소문자 구분 True

In [101]:
names = "홍길동 김길동      박길동 주길동 고길동"
name_list = names.split()
print("space단위로 names분리(list로 반환): ",names.split())
print(name_list[0], name_list[1])
#split(): names라는 변수에 저장된 단어를 space단위로 분리해준다 .

space단위로 names분리(list로 반환):  ['홍길동', '김길동', '박길동', '주길동', '고길동']
홍길동 김길동

In [74]:
date_str = "2025-09-17"

date_list = date_str.split("-")
print(date_list)
print("년도:",date_list[0])
print("월:",date_list[1])
print("일:",date_list[2])

['2025', '09', '17']
년도: 2025
월: 09
일: 17

In [75]:
#str_ = "ABC"
str_ = ["A","B","C"]
str_[0], str_[1], str_[2]

('A', 'B', 'C')

In [95]:
# ' - '을 " /"로 바꾸기
temp = "Python - 웹(HMTL/CSS/JavaScript) - Oracle/MySQL(DBMS) - DL/ML - LLM(RAG) "
temp.replace(" - ", " / ")
#split()와 join() 이용하여 replace역할
splited_temp = temp.split(" - ")
print("분리된 temp: ",splited_temp)
joined_temp = "/".join(splited_temp)
print("join temp:", joined_temp)# "/"로 매개변수 list를 

print(splited_temp[1])

분리된 temp:  ['Python', '웹(HMTL/CSS/JavaScript)', 'Oracle/MySQL(DBMS)', 'DL/ML', 'LLM(RAG) ']
join temp: Python/웹(HMTL/CSS/JavaScript)/Oracle/MySQL(DBMS)/DL/ML/LLM(RAG)
웹(HMTL/CSS/JavaScript)

# 문자열을 다룰 수 있는 함수들 목록
dir(str)

# 7절. 시간, 날짜 다루기

In [84]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [85]:
# datetime모듈(datetime.py) 안에 datetime, date, time만 load
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [86]:
# 특정 시점을 갖는 datetime 객체 생성ㅇ
thatday = datetime(2025, 9, 11, 9, 30)
thatday

datetime.datetime(2025, 9, 11, 9, 30)

In [89]:
# 날짜를 문자열로 전환
print("{:%y년%m월%d일(%A) %H:%M:%S}".format(thatday))
print(thatday.strftime("%y년%m월%d일(%A) %H:%M:%S"))
print(thatday.ctime())# ctime() : 사람이 읽기 쉬는 형태로 convert

25년09월11일(Thursday) 09:30:00
25년09월11일(Thursday) 09:30:00
Thu Sep 11 09:30:00 2025

In [92]:
# 지금을 저장하는 datetime 객체생성
now = datetime(2025,9,17,)
print(now)
print(now.ctime())
print(now.strftime("%Y년%m월%d일 %p %I:%M:%S"))

2025-09-17 00:00:00
Wed Sep 17 00:00:00 2025
2025년09월17일 AM 12:00:00

In [ ]:
diff = now-thatday
print(diff)
print(diff.days)

## 7.2날짜

In [97]:
# 특정한 날짜를 갖는 date객체 생성
someday = date(2025,9,11) #데이트는 항상 년, 월, 일 만 저장가능
someday

datetime.date(2025, 9, 11)

In [99]:
print(someday)
print(someday.strftime("%Y년 %m월 %d일 %H:%M"))

2025-09-11
2025년 09월 11일 00:00

In [103]:
# 오늘을 갖는 date객체생성t
today1 = date.today() 
today2 = datetime.now().date()
print(today1 == today2)

True

In [105]:
print(today1.strftime("%Y년%m월%d일 %H:%M"))
print(today2.strftime("%Y년%m월%d일 %H:%M"))

2025년09월17일 00:00
2025년09월17일 00:00

In [110]:
diff = someday - today1
print(diff)
print(diff.days)

-6 days, 0:00:00
-6

## 7.3 시간

In [114]:
# 특정한 시가을 저장하는 time객체 생성
t = time(14,39,0) #시간만 저장할 수 있다
t

datetime.time(14, 39)

In [117]:
#print(t.strftime("%Y년%m월%d일 %p %I:%M"))
print(t.strftime("%p %I:%M"))

PM 02:39

In [118]:
# 현재 시간
nowtime = datetime.now().time()
print(nowtime)

14:43:43.278204

# 8절. 연습문제

In [124]:
# Quiz1. 출력형식: 홍길동님의 나이는 23살입니다.
name = "홍길동"
age = 23
print(f"{name}님의 나이는 {age}입니다")

홍길동님의 나이는 23입니다

In [123]:
# Quiz2. 정수입력받아 산술연산결과 출력
num1 = int(input("첫 번째 숫자: "))
num2 = int(input("두 번째 숫자: "))

print("num1 + num2= :",(num1+ num2))
print("num1 - num2= :",(num1 - num2))
print("num1 * num2= :",(num1 * num2))
print("num1 / num2= :",(num1 / num2))
print("num1 // num2= ",(num1//num2))
print("num1 % num2= ",(num1%num2))

첫 번째 숫자: 20
두 번째 숫자: 20
num1 + num2= : 40
num1 - num2= : 0
num1 * num2= : 400
num1 / num2= : 1.0
num1 // num2=  1
num1 % num2=  0

In [100]:
# Quiz3. 
message = "Hello World"
message.split(" ")
splited_temp = message.split(" ")
print(splited_temp[1],splited_temp[0])

World Hello

In [106]:
# Quiz4.
x = "abcdef"

x [1:] + x[:1]
#해설: x변수에 첫 번째 글자부터 마지막글자까지 출력하고 + 를하여 0부터 1 앞 까지의 단어를 출력한다

'bcdefa'

In [116]:
# Quiz5.
x = "abcdef"
x [-1::-1]
#해설: 처음부터 끝까지 출력하지만 역순으로 출력한다
#[from에서:to까지:증감]
#abcdef
#123456
#-6-5-4-3-2-1

'fedcba'

In [151]:
# 1. 섭씨 입력
celsius = float(input("섭씨 온도를 입력하세요: "))

# 2. 화씨 변환
fahrenheit = (celsius * 1.8) + 32

# 3. 화씨 출력 처리
if fahrenheit % 1 == 0:  # 소수점이 없으면
    print(f"화씨: {int(fahrenheit)}")
else:                    # 소수점이 있으면 둘째 자리까지
    print(f"화씨: {fahrenheit:.2f}")

섭씨 온도를 입력하세요: 3
화씨: 37.40

In [149]:
# Quiz7.
# 다음 중 변수 선언으로 잘못된 것을 모두 고르시오
# 1)for, 2)10th, 3)Student.name 4)_1234
# 답: 1, 2, 3
# 해설: 1)for은 반복문과 겹침 2)10th숫자시작은 안됨 3)Student.name 특수문자_빼고 안됨

In [ ]:
##### Quiz8.
text = "seoul A001 - programming with python"
print(text[:4]+text[-1]+text.split()[0]) # 맨 앞자리에서 문자4자리 출력 맨 마지막 문자 출력 공백기준 맨 앞자리 단어 출력
print(text[:4],text[-1],text.split()[0]) # 위와 똑같지만 각자 따로 출력

#해설: (텍스트에서 0번째에서 4째까지 출력 +(같이출력) 마지막단어(python) split에 공백아면 맨 앞자리 단어가출력 (seoul))

In [51]:
#Quiz9.
#파이썬 연산식과 그결과가 출력이 잘못된 것
#정답: 2번

#해설: 8//2는 몫 연산자이므로 답은 4
#해설: 8/2는 소수점이 생긴다
#해설: 8**2는 제곱연산식이다 8 * 8와 같다

In [68]:
#Quiz10.
# 정답: 둘의 타입이 달라서 실행되지 않는다

# x= 5 int type
# y= "John"은 String

In [103]:
#Quiz11
str_="우리 나라 대한 민국"
str_list = str_.split()
print(str_list[1])
# split(): space기준 분리해서 str_list에 저장하고 list[1]을 출력한다

나라