In [17]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size = "6" color = "red"> ch09. 파일 i/o 프로그래밍 </font></b>
- 파일: txt, pickle(머신러닝모델저장, 배열저장), csv, json, h5(딥러닝모델 저장)
## 1절 txt파일에 데이터저장하고 불러오기

In [2]:
# 1. *.csv                 - 다수의 데이터
# name, age
# '홍길동',30
# '김길동',20
# 2. *.json (open API 결과)  - 다수의 데이터
# [{'name':'홍길동','age':30},
# {'name':'김길동','age,'20}]
# 3.*.xml
# <person> (open API 결과)
#     <name>홍길동</name>
#     <age>30</age>
# </person>
# <person>
#     <name>김길동</name>
#     <age>20</age>
# </person>
# 4. *.xlsx: 엑셀파일
    
# 5. *.txt: 히스토리 (text저장)
# 6. *.h5, *.hdf5 (객체=, dictlist)

In [3]:
# mode = 'r' 또는 'rt': 텍스트 읽기모드로 열기. 파일이 없을 경우 예외 발생
# mode = 'w' 또는 'wt': 텍스트 쓰기모드로 열기. 폴더가 없을 경우 예외 발생
                    # 파일이 없으면 생성, 파일이 있으면 덮어씀
# mode = 'a' 또는 'at': 텍스트 쓰기모드로 열기. 폴더가 없을 경우 예외 발생
                    #파일이 없으면 생성, 파일이 있으면 뒤에 append
f = open('data/ch09.txt','w') # encoding= 'cp949'(win)
print('쓰기 가능한지:', f.writable())
f.write('Hello\nWorld\n안녕파이썬')

쓰기 가능한지: True

17

In [4]:
# with구문을 사용면 매번 close()하는 코드가 불필요
with open('data/ch09.txt','w') as f:
    print("쓰기 가능한지: ",f.writable())
    f.write('Python is easy.\nPython is smart.\n')

쓰기 가능한지:  True

In [5]:
with open('data/ch09.txt','a') as file: # cp949
    print("프린트 함수로 파일 쓰기가 가능합니다- 파일출력")
    print("프린트 함수로 파일 쓰기가 가능합니다- 콘솔 출력")

프린트 함수로 파일 쓰기가 가능합니다- 파일출력
프린트 함수로 파일 쓰기가 가능합니다- 콘솔 출력

- 한글 읽기/쓰기
    * cp949(한글완성형확장형): open함수의 기본 인코딩(win)
    * utf-8(한글 조합형): 주피터 노트북에서 열기

In [6]:
with open('data/ch09.txt','w', encoding="utf-8") as f:
    # 방법1
    f.write("홍길동,30,서울\n")
    f.write("김길동,20,수원\n")
    # 방법2
    textlist= ['홍길동,30,서울\n','김길동,20,부산\n']
    for line in textlist:
        f.write(line)
    # 방법3
    f.writelines(textlist) #리스트를 한꺼번에 write

In [7]:
# 파일에 한꺼번에 읽어오기
with open('data/ch09.txt','rt',encoding='utf-8') as f:
    filecontent = f.read()
filecontent

'홍길동,30,서울\n김길동,20,수원\n홍길동,30,서울\n김길동,20,부산\n홍길동,30,서울\n김길동,20,부산\n'

In [8]:
# 파일을 한줄 읽고 출력하고, 한줄읽고 출력, ...
with open('data/ch09.txt' ,'r',encoding="UTF-8") as txtfile:
    line = txtfile.readline()
    while line != '':
        print(line,end="") #line에 \n이 포함되어 있어 출력시 개행은 제거
        line = txtfile.readline()

홍길동,30,서울
김길동,20,수원
홍길동,30,서울
김길동,20,부산
홍길동,30,서울
김길동,20,부산

In [9]:
# 파일을 한꺼번에 여러줄을 읽어, 한줄씩 list에 담아 return
with open('data/ch09.txt' ,'r',encoding="UTF-8") as txtfile:
    lines = txtfile.readlines()
print(lines)

['홍길동,30,서울\n', '김길동,20,수원\n', '홍길동,30,서울\n', '김길동,20,부산\n', '홍길동,30,서울\n', '김길동,20,부산\n']

In [10]:
for line in lines:
    print(line,end='')

홍길동,30,서울
김길동,20,수원
홍길동,30,서울
김길동,20,부산
홍길동,30,서울
김길동,20,부산

# 2절 피클을 이용한 객체 저장 및 불러오기
- 머신러닝 모델을 저장하거나 배열저장, 객체저장
## 2.1 형식이 있는 텍스트 데이터 불러오기

In [11]:
with open('data/ch09_member.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()
# print(lines)
for line in lines:
#     print(line)
    data = line.split(', ')
#     print(data)
    name  = data[0]
    age = int(data[1])
    email = data[2]
    address = data[3].strip()
    print({'name':name,
          'age':age,
          'email':email,
          'address':address})

{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}
{'name': '홍길숙', 'age': 25, 'email': 'kilsuk1@hong.com', 'address': '서울시 영등포구'}
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}

In [1]:
class Member:
    def __init__(self, name,age,email,address):
        self.name = name
        self.age = age
        self.email= email
        self.address = address
    def __str__(self):
        return f"{self.name},{self.age},{self.email},{self.address}"
    def __eq__(self,other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        '객체를 딕셔너리로 바꿔 return (json파일 저장시 필요)'
        return self.__dict__

In [3]:
member1 = Member("신길동",30,'shinkil.hong.com','서울시 동작구')
member2 = Member("신길동",30,'shinkil.hong.com','서울시 동작구')
print(member1.__str__())
print(member2)
print(member2==member1)
print(member2.__eq__(member1))
print(member1.__dict__)
print(member1.as_dict())

신길동,30,shinkil.hong.com,서울시 동작구
신길동,30,shinkil.hong.com,서울시 동작구
True
True
{'name': '신길동', 'age': 30, 'email': 'shinkil.hong.com', 'address': '서울시 동작구'}
{'name': '신길동', 'age': 30, 'email': 'shinkil.hong.com', 'address': '서울시 동작구'}

## 2.2 피클링
- 객체리스트 -> 피클파일로 쓰기
- 피클파일 -> 객체리스트로 읽기

In [14]:
# ch09_member.txt파일 -> 객체list, 딕셔너리list로 읽어오기
member_list = [] #Member객체 list
dict_list = [] #딕셔너리 list
with open('data/ch09_member.txt','r',encoding='utf-8') as f:
    lines = f.readlines()
for line in lines:
    data = line.split(',')
    print(data)
    member = Member(name,age,email,address)
    member_list.append(member)
    dict_list.append(member.__dict__)

['홍길동', ' 20', ' kildong@hong.com', ' 서울시 관악구\n']
['홍길숙', ' 25', ' kilsuk1@hong.com', ' 서울시 영등포구\n']
['신길동', ' 30', ' shinkil@hong.com', ' 서울시 동작구']

In [15]:
for member in member_list: # 객체 list
    print(member)

신길동,30,shinkil@hong.com,서울시 동작구
신길동,30,shinkil@hong.com,서울시 동작구
신길동,30,shinkil@hong.com,서울시 동작구

In [16]:
# 피클링(확장자: pkl, pickle, data)을 이용한 객체를 파일에 저장하기
import pickle
with open('data/ch09_member.pkl', 'wb') as f:
    pickle.dump(member_list, f)

In [17]:
# 피클링을 이용한 파일을 객체 리스트로 읽기
with open('data/ch09_member.pkl', 'rb') as f:
    load_member_list = pickle.load(f)

In [18]:
id (member_list), id (load_member_list)

(2847887575616, 2847887967872)

In [19]:
for idx in range(len(member_list)):
    print(idx, '번째 비교:',(member_list[idx]== load_member_list[idx]))

0 번째 비교: True
1 번째 비교: True
2 번째 비교: True

In [20]:
for idx ,(member, load_member) in enumerate(zip(member_list, load_member_list)):
    print(idx,'번째 비교:',member==load_member)

0 번째 비교: True
1 번째 비교: True
2 번째 비교: True

In [21]:
result = [] # 비교결과(True/False)를 append
for member, load_member in zip(member_list, load_member_list):
    result.append(member==load_member)
result

[True, True, True]

In [22]:
all(result) # 모든요소들이 True인지 여부

True

In [23]:
all([True,True,True,True,True,False])

False

# 3절 .*csv파일 읽고 쓰기
- CSV파일의 자료를 리스트 데이터로 읽고 쓰기 (3.1 과 3.2)
- CSV파일의 자료를 딕셔너리 데이터로 읽고 쓰기 (3.3 과 3.4)
## 3.1 reader

In [24]:
import csv
with open('data/ch09_member1.csv','r',encoding='utf-8') as f:
    reader = csv.reader(f)
    result = list(reader)
result

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구'],
 ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구'],
 ['신길동', '30', 'sindong@hong.com', '서울시 동작구']]

In [25]:
with open('data/ch09_member1-cp.csv','r') as f:
    reader = csv.reader(f)
    for rw in reader:
        print(rw)

['홍길동', '20', 'kildong@hong.com', '서울시 관악구', '']
['김길동', '40', 'kimdong@hong.com', '서울시 영등포구', '팀장']
['신길동', '30', 'sindong@hong.com', '서울시 동작구', '']

In [26]:
# ""(쌍 따옴표) 가 없는 데이터는 numeric으로 
with open('data/ch09_member1.csv','r', encoding= 'utf-8') as f:
    reader = csv.reader(f, quoting = csv.QUOTE_NONNUMERIC)
    for rw in reader:
        print(rw)

['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구']
['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구']
['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']

## 3.2 writer
- list -> csv로 저장

In [10]:
user_list = [['신길동', 30.0, 'sindong@hong.com', '서울시 동작구'],['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구'],['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구']]

In [12]:
# newline='' 옵션을 빼면 개행이 2번 이뤄짐(python3.10)
try:
    
    with open('data/ch09_member2-write.csv','w', newline='') as f:
        writer = csv.writer(f)
#         for user in user_list:
#             writer.writerow(user)
        writer.writerows(user_list)
except FileNotFoundError as e:
    print(e)

NameError: name 'csv' is not defined

## 3.3 DictReader
- CSV파일을 딕셔너리 데이터로 읽기

In [29]:
import csv
# header가 있는 csv파일을 딕셔너리로 읽기(ch09_member3.csv)
with open('data/ch09_member3.csv','r',encoding='utf-8') as f:
    dict_reader = csv.DictReader(f)
    result = list(dict_reader)
result

[{'name': '홍길동',
  'age': '20',
  'email': 'h@h.com',
  'address': '서울시 관악구',
  'job': None},
 {'name': '신길동',
  'age': '40',
  'email': 's@h.com',
  'address': '서울시 영등포구',
  'job': '팀장'},
 {'name': '김길동',
  'age': '30',
  'email': 'k@h.com',
  'address': '서울시 동작구',
  'job': None}]

In [30]:
import csv
# header가 있는 csv파일을 딕셔너리로 읽기(ch09_member3.csv)
with open('data/ch09_member3.csv','r',encoding='utf-8') as f:
    dict_reader = csv.DictReader(f, restval="없음")
    for row in dict_reader:
        print(row)

{'name': '홍길동', 'age': '20', 'email': 'h@h.com', 'address': '서울시 관악구', 'job': '없음'}
{'name': '신길동', 'age': '40', 'email': 's@h.com', 'address': '서울시 영등포구', 'job': '팀장'}
{'name': '김길동', 'age': '30', 'email': 'k@h.com', 'address': '서울시 동작구', 'job': '없음'}

In [31]:
# csv파일을 데이터프레임 데이터로 읽기
import pandas as pd
members = pd.read_csv('data/ch09_member3.csv', encoding='utf-8') # 기본 인코딩 방식이 encoding= 'utf-8'
members

  name  age    email   address  job
0  홍길동   20  h@h.com   서울시 관악구  NaN
1  신길동   40  s@h.com  서울시 영등포구   팀장
2  김길동   30  k@h.com   서울시 동작구  NaN

In [32]:
# header가 없는 CSV파일을 딕셔너리 데이터로 읽기(ch09_memver1-cp.csv)
with open('data/ch09_member1-cp.csv','r') as f:
    dict_reader = csv.DictReader(f, fieldnames=["Name","Age","Email","Address","Job"])
    for row in dict_reader:
        print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ''}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': '팀장'}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ''}

In [33]:
# header가 없는 CSV파일을 딕셔너리 데이터로 읽기(ch09_memver1-cp.csv)
with open('data/ch09_member1-cp.csv','r') as f:
    dict_reader = csv.DictReader(f, fieldnames=["Name","Age","Email","Address"],restkey='Job')
    for row in dict_reader:
        print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ['']}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': ['팀장']}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ['']}

## 3.4 DictWriter
- 딕셔너리 데이터(딕셔너리 list)를 csv파일로 쓰기

In [34]:
user1 = {'Name': '신길동', 'Age': '30', 'Email': 'sg@hong.com', 'Address': '서울'}
user2 = {'Name': '홍길동', 'Age': '20', 'Email': 'ho@hong.com', 'Address': '수원'}
user3 = {'Name': '마길동', 'Age': '25', 'Email': 'ma@hong.com', 'Address': '안양'}
user_list = [user1, user2,user3]
user_list

[{'Name': '신길동', 'Age': '30', 'Email': 'sg@hong.com', 'Address': '서울'},
 {'Name': '홍길동', 'Age': '20', 'Email': 'ho@hong.com', 'Address': '수원'},
 {'Name': '마길동', 'Age': '25', 'Email': 'ma@hong.com', 'Address': '안양'}]

In [35]:
fieldnames = list(user1.keys())
fieldnames

['Name', 'Age', 'Email', 'Address']

In [36]:
with open('data/ch09_member4.csv','w',encoding='utf-8', newline='' )as f:
    dict_writer = csv.DictWriter(f, fieldnames= fieldnames)
    dict_writer.writerows(user_list)

# 4절 JSON파일에 저장하고 불러오기(dump, load)
[{'title':'국가정보원 화재', 'url':'http://~', 'content':'무시기무기시~'},
{'title':'국가정보원 화재', 'url':'http://~', 'content':'무시기무기시~'},
{'title':'국가정보원 화재', 'url':'http://~', 'content':'무시기무기시~'},]

## 4.1 JSON dump(파일에 저장)
### 1. 딕셔너리 list를 json파일로 저장

In [37]:
data = [{'Name': '홍길동', 'Age': '30', 'Email': 'hg@hong.com', 'Address': '서울'},
       {'Name': '박길동', 'Age': '20', 'Email': 'pg@hong.com', 'Address': '부산'},
       {'Name': '신길동', 'Age': '25', 'Email': 'sg@hong.com', 'Address': '대전'},]
data

[{'Name': '홍길동', 'Age': '30', 'Email': 'hg@hong.com', 'Address': '서울'},
 {'Name': '박길동', 'Age': '20', 'Email': 'pg@hong.com', 'Address': '부산'},
 {'Name': '신길동', 'Age': '25', 'Email': 'sg@hong.com', 'Address': '대전'}]

In [38]:
# ensure_ascii 옵션의 역할: ASCII 코드를 넘어선 문자를 어떻게 처리할지
# 기본값(True): ASCII코드 범위를 넘어선 글자는 유니코드로 저장
# False: 비 ASCII 문자는 원래 형태로 그대로 저장
import json
with open('data/ch09_member1.json','w') as jf:
    json.dump(data, # 딕셔너리 리스트
             jf, #파일 스트림
             ensure_ascii= False, #비 ASCII 코드 문자 처리
             indent='  ')  # 들여쓰기 여부

### 2. 객체 list를 json파일로 저장

In [39]:
class Member:
    def __init__(self, name,age,email,address):
        self.name = name
        self.age = age
        self.email= email
        self.address = address
    def __str__(self):
        return f"{self.name},{self.age},{self.email},{self.address}"
#     def __eq__(self,other):
#         return self.name == other.name and self.age == other.age and self.email  == other.email and self.address == other.address
    def __eq__(self,other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        '객체를 딕셔너리로 바꿔 return (json파일 저장시 필요)'
        return self.__dict__

In [40]:
member_list= [Member('홍길동',30,'h@h.com','서울'),
             Member('마길동',25,'m@g.com','하남'),
             Member('박길동',35,'p@p.com','대전')]
[member.__str__() for member in member_list]

['홍길동,30,h@h.com,서울', '마길동,25,m@g.com,하남', '박길동,35,p@p.com,대전']

In [41]:
with open('data/ch09_member2.json','w') as jf:
    json.dump(member_list, #저장할 리스트(객체 리스트)
              jf,
              ensure_ascii=False,
              indent='  ',
             default = Member.as_dict) # 객체를 딕셔너리형태로 return 하는 함수

## 4.2 Json load (파일 읽기)
### (1) json파일을 딕셔너리 리스트로 읽기
### (2) json파일을 객체 리스트로 읽기(딕셔너리를 객체로 return 하는 함수가 필요)

In [42]:
# (1) json파일을 딕셔너리 리스트로 읽기
with open('data/ch09_member1.json','r') as jf:
    load_data= json.load(jf)
load_data

[{'Name': '홍길동', 'Age': '30', 'Email': 'hg@hong.com', 'Address': '서울'},
 {'Name': '박길동', 'Age': '20', 'Email': 'pg@hong.com', 'Address': '부산'},
 {'Name': '신길동', 'Age': '25', 'Email': 'sg@hong.com', 'Address': '대전'}]

In [43]:
type(load_data), type(load_data[0])

(list, dict)

In [44]:
# (2) json파일을 객체 리스트로 읽기(딕셔너리를 객체로 return 하는 함수가 필요)
# {'name': '홍', 'age': 3, 'email': 'h@h', 'address': '설'
def as_member(dic):
# (dic['name'],dic['age'],dic[email],dic['address']): 
    return Member(dic.get('name'),dic.get("age"),dic.get("email"),dic.get('address'))

In [47]:
with  open('data/ch09_member2.json','r') as jf:
    load_member_list = json.load(jf, object_hook= as_member) #딕셔너리를 객체로 return함수
for load_member in load_member_list:
    print(load_member)

홍길동,30,h@h.com,서울
마길동,25,m@g.com,하남
박길동,35,p@p.com,대전

In [ ]:
# member_list => ch09_member2.json => load_member_list
# member_list와 load_member_list가 같은 내용인지 검사
class Member:
    def __init__(self,name,age,address):
        self.

In [46]:
result = []
for member, load_member in zip(member_list, load_member_list):
    result.append(member==load_member)
print('두 객체 리스트의 모든 데이터가 일치하는지 여부: ',all(result))

두 객체 리스트의 모든 데이터가 일치하는지 여부:  False

In [49]:
# False인 곳의 index가 궁금?
import numpy as np
result = np.array([True,True,False,True])
type(result)

numpy.ndarray

In [50]:
result = set()
for member, load_member in zip(member_list, load_member_list):
    result.add(member == load_member)
result

{True}

# 5절 hdf5파일 쓰기/읽기
- *.hdf5나 *.h5 파일을 볼 수 있는 hdfviwer를 설치
- 딕셔너리 리스트, 데이터 프레임, 딥러닝 모델

In [3]:
# seahorn은 파이썬에 데이터 시각화를 도와주는 라이브러리로 자주 쓰이는 데이터 셋
import seaborn as sns
iris_df = sns.load_dataset("iris")
iris_df # 꽃의 종, 꽃받침길이, 꽃받침너비, 꽃잎길이, 꽃잎너비

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
# 데이터 프레임을 hdf파일로 쓰기
iris_df.to_hdf('data/ch09_irisdf.hdf5', key='iris')

In [8]:
# hdf파일을 데이터프레임으로 읽어오기
import pandas as pd
load_iris_df = pd.read_hdf('data/ch09_irisdf.hdf5', key='iris')
load_iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [9]:
# 두 데이터프레임이 같은지 여부
iris_df.equals(load_iris_df)

True

# 6절 연습문제: 고객관리
- 프로그램 시작시
     * data/ch09_customers.txt(프로그램 종료시 백업용 데이터) 파일이 있으면 파일을 custom_list에 기입
     * data/ch09_customers.txt 파일이 없으면 빈 파일 생성(w모드 열어 close)
     * data/ch09_customers.txt 
     ```
     홍길동, 010-9999-9999, k@hong.com, 30, 5, vvip
     유길동, 010-5432-2222, y@hong.com, 20, 2, 가칠해
     ```
## Customer 클래스 작성
    * Customer("홍길동", "010-9999-9999", "h@h", 30, 2, '기타') 객체 생성
    *            name         phone        email age grade etc
    * 함수: __init__ , __str__, as_dic(객체를 딕셔너리로 return), to_txt_style(객체를 text파일)
    
* 파일불러오기 - 1번을 누르면 파일 읽기 2번 누르면 전체 입력했던 거 출력

In [3]:
with open('data/ch09_customers.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()
class Customer:
    def __init__(self, name, phone, email, age, grade, etc):
        self.name = name
        self.phone = phone
        self.email = email
        self.age = age
        self.grade = grade
        self.etc = etc

    def __str__(self):
        return f"이름: {self.name} / 전화: {self.phone} / 이메일: {self.email} / 나이: {self.age} / 학년: {self.grade} / 기타: {self.etc}"

    def to_list_style(self):
        return f"{self.name},{self.phone},{self.email},{self.age},{self.grade},{self.etc}"

In [4]:
def load_customer():
    customers_list = []
    try:
        with open('data/ch09_customers.txt','r',encoding='utf-8') as f:
            lines = f.readlines()
            for line in lines:
                line = line.rstrip("   \t")
                if not line:
                    continue
                name, phone, email, age, grade, etc = line.split(',')
                c = Customer(name, phone, email, int(age), int(grade), etc)
                customers_list.append(c)
    except FileNotFoundError:
        with open('data/ch09_customers.txt','w',encoding='utf-8') as f:
            pass
        print("새로운 파일 생성")
    return customers_list

In [42]:
# 세이브 함수
def save_customer(customers):
    with open('data/ch09_customers.txt','w',encoding= 'utf-8') as f:
        for c in customers:
            f.write(c.to_list_style())

In [6]:
# del 함수
def del_customer(customer_list):
    name = input("삭제할 이름을 입력해주세요: ")
    for customer in customer_list:
        if customer.name == name:
            customer_list.remove(customer)

In [7]:
# serch함수
def ser_customer(customer_list):
    name = input("찾을 고객 이름을 입력해주세요:")
   
    for customer in customer_list:
        if customer.name == name:
            print(customer)

In [46]:
def save_customer(customer_list):
    import csv
    if customer_list:
        customer_dict_list = []
        for customer in customer_list:
            customer_dict_list.append(customer.__dict__)
        fieldnames = list(customer_dict_list[0].keys())
        filename = input('저장할 csv파일명은(확장자제외)?')
        with open('data/{}.csv'.format(filename), 'w', encoding='UTF-8', newline='\n') as f:
            dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
            dict_writer.writeheader() # 해더 쓰기
            dict_writer.writerows(customer_dict_list) # 데이터 쓰기
            print(f'data/{filename}.csv 내보내기 완료')
    else:
        print('입력된 회원 데이터가 없어서 csv 내보내기를 취소합니다')

# 메인 루프

In [8]:
def add_customer(customers_list):
    print("====고객 정보 입력====")
    name = input("이름: ")
    phone = input("번호: ")
    email = input("이메일: ")
    age = int(input("나이: "))
    grade = int(input("학년: "))
    etc = input("기타: ")

    c = Customer(name, phone, email, age, grade, etc)
    customers_list.append(c)
    print("고객추가완료")

In [ ]:
## def main():
def main():
    customers_list = load_customer()
    
    while True:
        fn = input("1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:내보내기(CSV) | 9:종료 메뉴 선택: ")

        if fn == '1':
            add_customer(customers_list)
            
        
        elif fn == '2':
            if not customers_list:
                print("고객 데이터가 없습니다.")
            else:
                print("=== 전체 고객 리스트 ===")
                for customer in customers_list:
                    print(customer)
        
        elif fn == '3':
            del6_customer(customers_list)
            print("삭제되었습니다")
        
        elif fn == '4':
            ser_customer(customers_list)
            
            
        elif fn == '5':
            save_customer(customers_list)
            
            
        elif fn == '9':
             # 종료 시 저장
            break
        else:
            print("잘못된 입력입니다.")

    print("BYE")


main()

1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:내보내기(CSV) | 9:종료 메뉴 선택: 5
저장할 csv파일명은(확장자제외)?ch09_customer
data/ch09_customer.csv 내보내기 완료