In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size= "6" color="red">ch02. 자료형과 연산자</font></b>
# 1절. 변수
- 변수: 프로그램 작업 처리를 위해, 값을 저장할 수 있는 메모리 공간
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음

## 1.1 변수 할당
- 할당 연산자(=)을 이용해서 값을 할당하면 자료형(타입) 이 셋팅
- **파이썬에서의 모든 변수는 객체로 저장**

In [13]:
r = 5
area = 3.14 * r * r
print('넓이 :', area)

넓이 : 78.5

In [3]:
import numpy as np # numpy패키지를 np라는 이름으로 사용
area = np.pi * r * r
print ('넓이: ', area)

NameError: name 'r' is not defined

In [39]:
area = np.pi
print ('area의 주소: ',id(area))
print('area의 타입: ', type(area))

area의 주소:  1558042687312
area의 타입:  <class 'float'>

In [38]:
area = 10
print ('area의 주소: ',id(area))
print('area의 타입: ', type(area))

area의 주소:  1557931491856
area의 타입:  <class 'int'>

In [37]:
area.is_integer()

AttributeError: 'str' object has no attribute 'is_integer'

In [36]:
area = "파이썬"
print ('area의 주소: ',id(area))
print('area의 타입: ', type(area))

area의 주소:  1558047958448
area의 타입:  <class 'str'>

## 1.2 변수(함수) 이름 규칙
- 문자로 시작
- 문자(특수문자는 _외에는 불가능), 숫자, _로 변수명 작성
- 함수명은 변수명으로 사용가능하나 피한다. 꼭 써야하면 str_식으로 사용한다
- 한글 변수는 꼭 필요시에만 사용

In [42]:
이름 = "홍길동" # 비추
print(이름)

홍길동

In [ ]:
# member.name = "홍길동"
member_name ="홍길동"
memberName = "홍길동"
print(member_name, memberName)

In [47]:
# 숫자 : 정수, 실수, 복소수
i = 1 + 3j # 복소수
print(type(i))

<class 'complex'>

In [50]:
isinstance (i, complex) # i 라는 변수가 컴플렉스 타입인지 확인

True

In [51]:
isinstance (i, int) #i라는 변수가 int타입의 객체인지?

False

## 1.3다중 변수 선언

In [79]:
a = 10
b = 20

In [82]:
a, b= 10, 20

In [83]:
print(a, b)

10 20

In [80]:
a , b = b , a + b # 다중 변수 할당 # a = 10, b = 20

In [81]:
print(a,b)

20 30

## 1.4 도움말

In [86]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [85]:
help() #help빠져나오기 : q

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [87]:
#도움말 기능: shift + tap 키
print()

In [105]:
def add(x, y=0):
    '''
    매개변수(x,y) 2개를 받아 두자리 숫자로 만드는 함수
    x = 10의 자리수가 되고
    y = 1의 자리수가 됨(default값 0)
    '''
    return x*10 + y

In [106]:
add(3, 4)

34

# 2절. 화면 I/O

In [109]:
# input() : 사용자로부터 값을 입력받기 위한 함수, 입력값은 문자(str)로 받음
first = input()
print(first)

In [123]:
first = input('첫번째 숫자는? ')

second = input('두번째 숫자는? ')

첫번째 숫자는? 8
두번째 숫자는? 2

In [120]:
print('두 수의 합은? ',first + second)

두 수의 합은?  82

In [129]:
first = int(input('첫 번째 숫자는? '))

second = int(input('두 번째 숫자는? '))

첫 번째 숫자는? 10
두 번째 숫자는? 10

In [126]:
print('두수의 합:' ,first + second)

두수의 합: 10

In [145]:
print('first', first, 'second', second, sep='\t', end='\n')
print('Hello','Python', sep =' ')

first	10	second	10
Hello Python

# 3절. 기본자료형
- 자료형: 변수가 가져야 할 값의 형식. 자료형에 따라 값의 크가와 저장 방식 달라짐
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐
   
    - `숫자` : int, float(소수점 4.0), complex(허수부 j)
    - `문자` : str("", '')
    - `논리` : bool(True/false)
    
## 3.1 숫자형

In [147]:
import sys
print(sys.maxsize) #정수의 최대값 : 2 ** 63 -1

9223372036854775807

In [149]:
i = sys.maxsize + 100

In [151]:
print(i)
print(type (i))

9223372036854775907
<class 'int'>

In [155]:
# f = 0.00000000000000012
f = 1.2e-20 # 지수형 1.2*10의 -20승
print(f)
b = 1.2e20 # 지수형 1.2.* 10의 20승
print(b)

1.2e-20
1.2e+20

In [157]:
# 파이썬에서는 /의 결과는 무조건 실수
f = 3/2
print('f=',f)

f= 1.5

In [161]:
# 자바나 c, c++처럼 정수 /정수 결과를 정수로 
f= int(3/2) #int() : int로 형 변환(내림)
print('f=',f)
f= 3//2 # 몫 연산자
print("f=",f)

f= 1
f= 1

## 3.2 문자형
- 겹따옴표("~")나 홀따옴표('~') 이용

In [169]:
#name = '홍길동\'짱\'' # 홍길동 '짱'
name = "홍길동'짱'"
address = '서울시 관악구"신림"동'#서울시 관악구 "신림"동

In [170]:
print(name)
print(address)

홍길동'짱'
서울시 관악구"신림"동

In [171]:
# escape 문자(탈출문자) : \n \t
text = '여러줄\t 짜리 내용을 저장 \n줄바꿈 문자를 쓰면 여러줄 \n줄바꿈'

In [173]:
print(text)

여러줄	 짜리 내용을 저장
줄바꿈 문자를 쓰면 여러줄
줄바꿈

In [177]:
text = '''여러줄\t짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈'''
print(text)

### ※ 문자열 연산(+,*)

In [183]:
'''
    여러 줄 주석 용도
    2025.09.12. 문자열 연산 by 아무개
'''
name1 = "홍길동"
name2 = "동해번쩍"
print(name1 + name2)
print(name1, name2)

홍길동동해번쩍
홍길동 동해번쩍

In [184]:
print(name1  *3)

홍길동홍길동홍길동

### ※ raw 데이터 
- 용도 : 정규표현식 이용, 디렉토리 경로를 표현시 이용

In [188]:
# raw데이터란 : 데이터 처리시 이스케이프 문자 (\n, \t, \', \")를 그대로 저장

print(r'Hello \nworld')

Hello \nworld

정규표현식(regex)

    1. 참조: http://ggo.gl/HLntbd 위키백과
    2. 간략문법
        /d(숫자와 매치. [0-9]와 동일)
        \D (숫자가 아닌 것)
        \w (영문자나 숫자 [A-Za-z-9]와 동일
        \W (영문자나 숫자가 아닌 문자)
        . (문자)
        \. (문자)
        \. (-)
        {2,} (2번 이상 반복)
        {2,4} (2~4회 반복)
        \d{2,3}[\- ]{0,1},?
        ?       (0번이나 1번 의미)
        \d{3,4}
        +          (1번 이상 반복)
        *          (0번 이상 반복)
        
    3. 정규표현식 연습장 : https://regexr.com/
    ex1. 전화번호 :02 888 7777 / 028887777 / 010-9999-9999/ 010.9999.9999
                  02)999-9999
                  => 0\d{1,3}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
    
    ex2. 이메일 : abc12@naver.com/ abc12@sns.co.kr
                =>\w+@\w+(\.\w+){1,2}
    
    ex3. 주민번호: 981212-1042525
                =>(\d{2}0[1-9][0-3]\d\-[0-4]\d{6})|(\d{2}1[0-2][0-3]\d\-[0-4]\d{6})
                
    4. 소스구현
|

In [189]:
import re
data = "이름: 홍길동, 주소:서울, 전화:02-888-8888, \
핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍\
혈핵형:Bㅋㅋ ㅋㅋzz"
print(data)

이름: 홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍혈핵형:Bㅋㅋ ㅋㅋzz

In [194]:
# 정규표현식 처리에서는 raw데이터 처리를 하지 않아도 실행은 되나
# 실수를 줄이고, 가독성을 높이는 용도를 raw데이터 처리를 사용
tel_pattern =r"0\d{1,3}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
tels = re.findall(tel_pattern, data) # 해당 패턴을 다 찾아줌
tels

['02-888-8888', '010-9999-9999']

In [195]:
email_pattern = r">\w+@\w+(\.\w+){1,2}"
emails = re.findall(email_pattern, data)
emails

[]

In [197]:
# 정규표현식 패턴과 처음 match되는 것을 찾아줘
firstTel = re.search(tel_pattern,data)
firstTel

In [201]:
print(data[19:30]) # 문자열 슬라이싱
print(firstTel.group(0))

02-888-8888
02-888-8888

In [210]:
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"

firstPhone = re.search(tel_pattern,data)
firstPhone

In [211]:
print('전체 전화번호 : ',firstPhone.group(0))
print('국번: ' ,firstPhone.group(1))
print('중간번호: ', firstPhone.group(2))
print('끝번호: ',firstPhone.group(3))

전체 전화번호 :  02-888-8888
국번:  02
중간번호:  888
끝번호:  8888

In [212]:
# 특정한 데이터 없애기
re.sub("[^가-힣0-9A-Z\s]", ' ',data)

'이름  홍길동  주소 서울  전화 02 888 8888  핸드폰 010 9999 9999  특징 동해번쩍 서해번쩍혈핵형 B       '

In [10]:
# data에서 전화번호 없애기
import re
data = "이름: 홍길동, 주소:서울, 전화:02-888-8888, \
핸드폰: 010-9999-9999, 특징:동해번쩍 서해번쩍\
혈핵형: Bㅋㅋ ㅋㅋzz"
tel_pattern = r"0\d{1,3}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
re.sub(tel_pattern,' ', data)

'이름: 홍길동, 주소:서울, 전화: , 핸드폰: , 특징:동해번쩍 서해번쩍혈핵형:Bㅋㅋ ㅋㅋzz'

In [11]:
#파일 경로
file_path = r"C:\aii\source\01_Python\data\CH02.txt"

In [17]:
file_stream = open(file_path,"w")

print("Hello, Python", "Hello, world", sep = "\n")#화면 출력
print("Hello, Python", "Hello, world", sep = "\n",file=file_stream)#파일 출력

file_stream.close()# close하지 않으면 저장 안 됨

Hello, Python
Hello, world

### ※ 문자열 인덱싱

In [18]:
str_ = '0123456789'
str_

'0123456789'

In [22]:
str_[0], str_[2], str_[-1], str_[-3] #음수 인덱싱은 맨 마지막이 -1

('0', '2', '9', '7')

In [46]:
str_[8]# 없은 인덱싱은 에러

'8'

### ※문자열 슬라이싱

In [28]:
'''
문자열변수[from:to] : from부터 to 앞까지 추출
문자열변수[from:to:step] : from부터 to 앞까지 step씩 전진하면서 추출
    from 생략시 처음부터
    to 생략시 끝까지
    step 생략시 1
    
'''
str_[0:3], str_[:3] #from 생략시 처음부터

('012', '012')

In [32]:
str_[5:10], str_[5:] #to 생략시 끝까지

('56789', '56789')

In [33]:
str_[-5:-1] # -5번째부터 -1번째 앞까지

'5678'

In [25]:
str_[2:6]

'2345'

In [26]:
str_[0:10:2]

'02468'

In [34]:
str_[9:0:-1] # 9번째부터 0번째전까지 -1씩 전진 추출

'987654321'

In [38]:
#quiz: 마지막글씨부터 처음글씨까지 꺼꾸로 출력
print(str_[::-1])
print(str_[9::-1])
print(str_[-1::-1])

9876543210
9876543210
9876543210

### 3.3 논리형(True / False)

In [41]:
a = 10 > 5 
print(a)
print(type(a))
print

True
<class 'bool'>

In [42]:
int(True), int(False)

(1, 0)

In [47]:
bool(-1000.9),bool(0), bool(" ")

(True, False, True)

In [44]:
# False로 간주되는 것: 0, ""- (빈스트링), []-(빈리스트), ()-빈튜플, {}-빈딕셔너리, None
# False로 반별되는 경우를 제외 하고는 모두 True

In [48]:
if []:
    print("True")
else:
    print("False")

False

In [52]:
name = input("이름은? ")
if name: #name이 빈스트링이 아니면
    print('당신 이름은', name)
else:
    print("이름을 입력 안 하셨군요.")

이름은?이희성
당신 이름은 이희성

## 3.4 자료형 확인 및 형변환 함수
- type(변수)
- isinstance(변수, 타입) : 변수가 해당 타입이지 여부
- float() : 실수형으로 변환
- int() : 정수형으로 변환
- str() : 문자형으로 변환
- bool() : 논리형으로 변환

In [55]:
float (4), float("4.1"), int(4.9), int("4"), str(4), str(4.9)

(4.0, 4.1, 4, 4, '4', '4.9')

In [62]:
# 에러나는 경우들
#int (" "), int(""), int(None), int ("123.9"), int("5,000")
#float(""),float(" "), float(None)

# 4절. 포맷팅
- 포맷팅이란 출력할 문자, 숫자, 날짜 데이터의 형식을 지정하는 것
## 4.1 문자열에 형식 지정

In [70]:
name = "홍길동"
age = 30
print(name ,"님의 나이는", age, "살입니다",sep = '')

홍길동님의 나이는30살입니다

In [81]:
# %s: 문자, %d:10진수, %f:실수
print("%s님의 나이는 %d살입니다"%(name, age))
print(f"{name:>5s}님의 나이는{age}살입니다")

홍길동님의 나이는 30살입니다
  홍길동님의 나이는30살입니다

In [79]:
print("{}님의 나이는 {}살입니다".format(name,age))
print("{0}님의 나이는 {1}살입니다".format(name,age))
print("{1:>5s}님의 나이는 {0:_<3d}살입니다".format(age, name))

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다
  홍길동님의 나이는 30_살입니다

In [84]:
print(f"    {name}님의 나이는   {age}_살입니다")

    홍길동님의 나이는   30_살입니다

## 4.2 format() 문법
- "{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}".format(변수명)
    * 인덱스 : format 함수안의 매개변수 순서
    * 정렬방식: <(왼쪽정렬), >(오른쪽정렬), ^(가운데 정렬)
    * 정수자릿수: 출력할 자릿수
    * 실수자릿수: 전체출력 될 자리수. 변수중에 출력할 자리수 ex10.2
    * 타입: d(10진수), o(8진수), X(16진수), b(2진수), f(실수), S(문자)
    * 공백대체문자는 정렬방식을 명시하여야 함

In [88]:
# 숫자의 경우 오른쪽 정렬(기본)
# 문자의 경우 왼쪽 정렬(기본)
# 변수보다 작은 자리수를 지정하면 자릿수 무시되고 다 출력(정수자릿수)
a = 12345
s = "Hello"
print("[{0}][{0:10}][{0:3}]".format(a))
print("[{0}][{0:10}][{0:1}]".format(s))

[12345][     12345][12345]
[Hello][Hello     ][Hello]

In [92]:
# 정렬 방식 : <, ^, >
a, b, c = 10, 20, 3
print("[{:<4}] [{:^4}] [{:>4}]".format(a,b,c))

[10  ] [ 20 ] [   3]

In [110]:
# 실수 자릿수 ex10.2f" 전체10자리 소수점2자리 / 6.2 : 전체 6자리중 2자리 출력
a = 10
f = 12.569
s = "Hello"
print("[{:$>6.2f}][{:10.2f}][{:_>6.2}]".format(a,f,s))
# 공백대체문자를 쓸 경우 반드시 정렬방식을 표현

[$10.00][     12.57][____He]

In [113]:
# 자리수 앞에 +를 붙이면 양수의 경우도 부호출력
# 부호나 소수점도 자리수에 포함 
a, b = 123, -123
print("[{:+10}],[{:+10}],[{:10}]".format(a,b,a))
print("[{:=10}],[{:=10}],[{:10}]".format(a,b,a))
print("[{:=+10}],[{:=+10}],[{:10}]".format(a,b,a))

[      +123],[      -123],[       123]
[       123],[-      123],[       123]
[+      123],[-      123],[       123]

In [116]:
# 10진수, 8진수, 16진수, 2진수 출력
a = 15
print("10진수[{:4d}]".format(a))
print("8진수[{:4o}]".format(a))
print("16진수[{:4x}]".format(a))
print("2진수[{:4b}]".format(a))

10진수[  15]
8진수[  17]
16진수[   f]
2진수[1111]

In [132]:
a = 2.785794698659865
sign = "+"
width = 10
percision = 4
print("[{:{}{}.{}}]".format(a,sign,width,percision))
print("[{:{sign}{width}.{percision}}]".format(a,
                                             sign = sign, width=width, percision = percision))

[    +2.786]
[    +2.786]

In [123]:
round(a,3)

2.786

## 4.3 날짜출력

In [136]:
import datetime #datetime 모듈(파이썬프로그램 파일 datetime.py) 전체를 메모리 load
from datetime import datetime # datetime모듈안의 datetime 만 메모리 load
thatday1 = datetime(2025,9,11) # 2025년 09월 11일 0시0분0초
thatday2 = datetime(2025,9,11, 14, 30, 0)
thatday1

datetime.datetime(2025, 9, 11, 0, 0)

In [147]:
# Y(년도4자리), ㅛ(년도2자리), m(월), d(일), p(오전/오후), I(12시간), H(24시간), M(분), S(초)
print("{:%y년 %m월 %d일 %H시 %M분 %S초}".format(thatday1))
print("{:%y년 %m월 %d일 %p %I시 %M분 %S초}".format(thatday2))

25년 09월 11일 00시 00분 00초
25년 09월 11일 PM 02시 30분 00초

In [145]:
thatday1.strftime("%y년 %m월 %d일 %H시 %M분 %S초")

'25년 09월 11일 00시 00분 00초'

In [149]:
thatday2.strftime(":%y년 %m월 %d일 %p %I시 %M분 %S초")

':25년 09월 11일 PM 02시 30분 00초'

In [152]:
# 현재의 날짜와 시간
#datetime.now()
#datetime(2025,9,11,15,30): 특정한 날짜와 시간
now= datetime.now()
now - thatday1

datetime.timedelta(days=4, seconds=53712, microseconds=799537)

In [153]:
# 지금 (날짜와 시간) 원하는 스타일로 출력
print("{:%y-%m-%d %p %I: %M}".format(now))
print(now.strftime("%Y-%m-%d %p%I%M"))

25-09-15 PM 02: 55
2025-09-15 PM0255

In [ ]:
from time import strftime