In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch05_함수</font></b>
- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩 불가(같은 이름의 함수는 덮어씀)
- 함수 정의
```
def 함수명([매개변수1,매개변수2, ..])
    명령어1
    명령어2.....
```
# 1절 함수의 정의 및 사용

## 1.1 함수 정의

In [2]:
def my_message(x, msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(i,msg)

In [3]:
# 함수 사용 == 함수 호출
my_message(3, 'Hello')

0 Hello
1 Hello
2 Hello

In [4]:
# 함수 이름 변경
my_msg = my_message
my_message(2, 'hi')
my_msg(3,'bye')

0 hi
1 hi
0 bye
1 bye
2 bye

In [5]:
type (my_msg)

function

In [6]:
print("Hello") # 파이썬 내장 함수(import 하지 않고 사용할 수 있는 함수)
print = 5
#print('hello')
del print
print("hello")

Hello
hello

In [7]:
my_message (2, "Hello")

0 Hello
1 Hello

In [8]:
my_message = 5

In [9]:
del my_message # 변수 및 함수 제거하여도
my_message(2, 'Hello') # 사용자 정의함수, 라이브러리 함수는 사용불가

NameError: name 'my_message' is not defined

In [ ]:
# 함수 중복 정의 불가 (오버로딩 불가)
def my_hello():
    print('Hello Python')
    print('Hellp world')
def my_hello(cnt):# cnt번 출
    for i in range(cnt):
        print("Hello,Python",end = "\t")
        print("Hellp, world")

In [ ]:
my_hello(2)

In [ ]:
my_hello

In [ ]:
__name__

In [ ]:
if __name__ == '__main__':
    my_hello(2)

In [ ]:
import ch05

In [ ]:
ch05.my_hello(3)

In [ ]:
from ch05 import my_hello # ch05모듈안의 my_hello만 메모리 로드

In [ ]:
my_hello(3)

## 1.2 docstring

In [ ]:
def my_function():
    """
    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift + tab으로 독스트링을 볼 수 있음)
    """
    pass

In [ ]:
print(my_function.__doc__)

In [ ]:
def  fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10: 0, 1, 1, 2, 3, 5, 8
        n= 100 0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a, b = 0, 1 #함수 내에 선언한 변수: 지역변수(반: 전역변수)
    while a < n:
        print(a, end=" ")
        a, b = b , a+b
    print() # 개행

In [ ]:
fibonacci(10)

In [ ]:
a, b # 지역변수는 함수내에서만 사용가능

## 1.3 지역변수(local var)와 전역변수(global var)

In [ ]:
global_var = 100
def func1():
    print("함수안: ", global_var)
func1()
print('함수밖: ',global_var)

In [ ]:
def func2():
    local_var = 200 # 지역변수(함수내에서 할당)
    print("함수안:", local_var)
func2()

In [ ]:
#print ('함수밖에서 지역변수: ', local_var) # 에러

In [ ]:
# 렉시컬 특성: 변수가 어디서 선언되었는지에 따라
# 변수의 범위가 정해짐(지역vs전역)
g_var = 100 # 전역변수
def func3():
    global g_var # 함수 내에서의 g_var는 전역변수를 쓰겠다
    print('전역변수 g_var:', g_var)
    g_var = 200
func3()
print('전역변수 g_var:', g_var)

## 1.4 값에 의한 호출
- 함수에 인수로 전달되는 변수가 스칼라변수(문자, 숫자, 논리형)일 때

In [ ]:
foo = 'a' # 전역변수
id (foo)

In [ ]:
def func1(f):
    print('Before: ',f, '의 주소는 ', id(f))
    f = f*3
    print('after: ',f, '의 주소는', id(f))
func1(foo)

In [ ]:
print("foo= ",foo,"의 주소는 ",id(foo))

## 1.5 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 덱셔너리, 기타 객체일 경우

In [ ]:
L = [1,2,3,4,5]
id(L)

In [ ]:
def func2(f): #매개변수는 지역변수
    
    print('Before: ',f, '의 주소는 ', id(f))
    f.append(6)
    print('after: ',f, '의 주소는', id(f))
func2(L)

In [ ]:
print('L=',L, '의 주소는',id(L))

# 2절 함수의 실행결과를 반환하는 return

In [ ]:
# def  fibonacci_print(n):
#     '''
#     매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
#     ex. n=10: 0, 1, 1, 2, 3, 5, 8
#         n= 100 0 1 1 2 3 5 8 13 21 34 55 89
#     '''
#     a, b = 0, 1 #함수 내에 선언한 변수: 지역변수(반: 전역변수)
#     while a < n:
#         print(a, end=" ")
#         a, b = b , a+b
#     print() # 개행
def fibonacci(n):
    "n미만의 피보나치수열을 리스트로 return"
    result = [] #피보나치수열을 append할 리스트
    a,b = 0,1 
    while a< n:
        result.append(a) # 리스트에 append
        a,b = b, a+b
    return result

In [ ]:
x = fibonacci(10)
print(x)

In [ ]:
x = fibonacci_print(10)
print('x=',x)
print(type(x))

### 여러개 값 return
- 여러개 값을 갖는 튜플로 return

In [ ]:
def swap(a,b):
    '매개변수의 순서를 바꿔서 return'
    return b,a # return (b,a)

In [ ]:
x,y = 5,10
print('함수 실행 전 x,y =',x,y)
x,y = swap(x,y)
print('함수 실행 후 x,y=',x,y)

# 3절 함수의 매개변수★
## 3.1 기본값을 갖는 매개변수

In [ ]:
def make_url(ip, port=80): # 순서인수 > 기본값을 갖는 매개변수 순으로 배치 rlqhs
    return "http://{}:{}".format(ip,port)

In [ ]:
print(make_url("localhost",8090))
print(make_url("www.naver.com",80))
print(make_url(port=9090, ip="localhost"))

## 3.2 기본변수를 기본값으로 갖는 매개변수
- 기본변수가 스칼라변수(문자, 숫자, 논리형)일 때
- 기본변수가 리스트, 셋, 딕셔너리, 기타 객체일 때

In [ ]:
i = 80
# 기본변수가 스칼라변수일 때: 함수가 정의되는 시점으로 기본값 셋팅
def make_url(ip, port=i):
    return "http://{}:{}".format(ip, port)

In [ ]:
i =90
make_url("localhost")

In [ ]:
list_ = []
#기본변수가 리스트, 셋, 딕셔너리, 객체일 때: 함수가 실행되는시점으로 기본값 셋팅
def func3(a,L=list_):
    L.append(a)
    return L
print(func3(10))

In [ ]:
print(func3(10))

In [ ]:
print("list_=",list_)

In [ ]:
# 실행할 때마다 L을 공유하는게 싫으면
def func3(a, L=None):
    if L is None:
        L= []
    L.append(a)
    return L

## 3.3 순서 인수, 키워드 인수
- 순서 인수: 함수에 정의된 순서대로 전달 방식
- 키워드 인수: 인수의 이름을 명시하는 방식
- 함수 정의시 순서인수와 키워드인수가 같이 올 때 순서인수 > 키워드 인수 순으로

In [ ]:
def func3(a, L=None):
    if L is None:
        L= []
    L.append(a)
    return L

In [ ]:
lst = []
print(func3(10, lst)) # 순서인수: 함수 정의된 순서대로 전달하는 방식
print(func3(L= lst, a = 20)) # 키워드 인수: 인수의 이름을 명시하여 전달하는 방식

## 3.4 튜플매개변수를 이용한 가변인수 설정
- 가변인수: 매개변수의 갯수가 가변

In [ ]:
# 파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음
def add(a,b):
    return a+b
def add(a,b,c):
    return a+ b+ c

In [ ]:
# args앞에 * : args가 튜플 로 전달받는다
def add(*args): #앞에 *을 넣음으로 써 더 많은 매개변수를 받을 수 있다
#     print('args=' ,args)
    '전달받은 매개변수들의 합을 return. 매개변수가 없으면 0을 return'
    sum = 0 #누적변수
    for num in args:
        sum += num # sum = sum+num
    return sum

In [ ]:
print (add())
print(add(1))
print(add(2,3))
add(1,2,3,4,5,6,7,8,9,10)

In [ ]:
subject = ("Python", "HTML/CSS","JavaScript","Oracle/MySQL")
'-'. join(subject)

In [ ]:
#튜플 매개변수와 일반 매개변수가 같이 있을 때
def concat(*subject, sep):
    return sep.join(subject)

In [ ]:
concat("Python", "HTML/CSS","JavaScript","Oracle/MySQL",'-')

In [ ]:
 # 해결책1 매개변수 이름을 지정해서 호출
concat("Python", "HTML/CSS","JavaScript","Oracle/MySQL",sep='-')

In [ ]:
# 해결책2: 기본값을 갖는 키워드 인수 사용
def concat(*subject , sep=' ~ '):
    return sep.join(subject)    # 튜플매개변수 > 키워드 인수
concat("Python", "HTML/CSS","JavaScript","Oracle/MySQL",)

In [ ]:
# 해결책3(추천): sep을 순서인수로 앞으로
def concat(sep, *subject):
    return sep.join(subject)

In [ ]:
concat('~','Python','Web','DB',"MLDL")

## 3.5 딕셔너리 매개변수
- 딕셔너리 인수: 여러개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리

In [ ]:
make_url(ip="localhost",port=8080)

In [ ]:
def func5(**args): # args : 딕셔너리로 전달받음
    print("이름: ",args.get('name','홍길동'))
    print("나이: ",args.get('age','30'))
    print("전화: ",args.get('tel','010-9999-9999'))
    print("주소: ",args.get('address','서울 관악'))

In [ ]:
def func5(**args):
    print(args)
    print(type(args))
    if 'address' not in args: # args에 address 키가 없으면 if 문 True
        # args['address'] =' 서울시 관악구'
        args.update(address="서울시 관악구")
    for key, value in args.items():
        print(f"{key}:{value}")

In [ ]:
func5(name='홍길동',age=30, tel='010-9999-9999')

In [ ]:
def func(a,b,c):
    return a+b+c
# func()

## 3.6 함수 정의시 매개변수의 순서
- 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)

In [ ]:
# 순서인수 > 튜플인수 > 딕셔너리인수
def func6(a,b,*c,**d):
    print("순서인수 a=",a)
    print("순서인수 b=",b)
    print("튜플인수 c=",c)
    print("순서인수 d=",d)

In [ ]:
func6(10,20, 1,2,3,4,5,6,7,8,9, name='홍', age=30, address='신림')

In [ ]:
# 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)
def func7(a,b,c,*d,e=10,**f):
    print("순서인수 a=",a)
    print("순서인수 a=",b)
    print("순서인수 a=",c)
    print("튜플인수 a=",d)
    print("키워드인수(기본값10) e=",e)
    print("딕셔너리인수 a=",f)

In [ ]:
func7(10,20,30,e=100)

In [ ]:
func7(10, 20, 30, 1, 2, 3, 4, 5, e=100, shape='rect',weith=20,height=30)

## 3.7인수의 언패킹
### 튜플인수 언패킹
- 언패킹: 함수 호출시 매개변수 앞에 * 붙임
- 패킹: 함수 정의식 매개변수앞에 *붙임 (튜플매개변수)

In [ ]:
def add(*args):
    sum = 0
    for num in args:
        sum+= num
    return sum

In [ ]:
add(1,2,3)

In [ ]:
numbers = (1,2,3)
add(*numbers)

### 딕셔너리 인수 언패킹

In [ ]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [ ]:
func8(shape="rect", width=50,height=30)

In [ ]:
info = {'shape':'rect', 'width':50, 'height':30}
func8(**info)

# 4절 람다식
- return 한 줄짜리 작은 익명함수

In [ ]:
def add(a,b):
    return a+ b
add(3,5)

In [ ]:
add2 = lambda a, b : a + b #(함수의 매개변수,매개변수 : 리턴 받을 값)

In [ ]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만든다
def even_odd_chk(num):
#     if num % 2:
#         result = "홀수"
#     else:
#         result = "짝수"

#     return " 홀수 " if num % 2 else "짝수"

even_odd_chk = lambda num : " 홀수 " if num % 2 else "짝수" # 

even_odd_chk(5), even_odd_chk(4)

In [ ]:
# ex2. 두 매개변수의 차이를 return하는 함수를 람다식을 만들어 보세요
diff = lambda a ,b :a - b if a> b else b-a  
diff(5,1)

In [ ]:
# ex3. 매개변수로 잔액을 받아, 잔액이 양수면 잔액을 return, 음수면 'negative'를 리턴
ex3 = lambda balance : balance if balance >= 0  else  "negative"
ex3(-100)

In [ ]:
# # ex4. 점수를 입력받아 80점이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험' 100점 초과 or 0점 미만 '유효하지않음'을 return
score_ = lambda score : "A팀" if 80 <= score <= 100 else "B팀" if 60 <= score  < 80 else "재시험" if 0 <= socre < 60 else "유효하지않음"
score_(74) #풀이 score_ 안에 람다식으로 "A팀에대한 조건" if, else 'space' "B팀에대한 조건 " if, else

In [ ]:
# ex5. 점수를 입력받아 학점을 return
score = int(input("점수를 입력하시오: "))
scoreGrade = lambda s : "A학점" if 90<= score <=100 else \
                            "B학점" if 80<=score <90 else \
                            "C학점" if 70<=score <80 else \
                            "D학점" if 60<=score <70 else \
                            "F학점" if 0<=score <60 else \
                            "유효하지않음"
print(scoreGrade(score))

In [ ]:
# ex6. safe_index함수를 람다식으로

def safe_index(lst,item,start=0):
    return lst.index(item, start) if item in lst[start:] else -1

ex5 = lambda lst, item, start =0 :lst.index(item, start)\
       if item in lst[start:] else -1

i =3
lst = [i,2,3]
safe_index(lst,4), ex5(lst,3,1)

In [ ]:
# 람다식을 list에 들어갈 수 있음
add = lambda a, b : a + b
sub = lambda a, b : a - b
mul = lambda a, b : a * b
div = lambda a, b : a / b if  b else '두 번째 인자가 0이면 못 나눠요'
operations = [add, sub, mul, div] # 사칙연산 함수들
def act_operations (a, b, operation= operations): # a,b의 연산결과 return
    result = []
    
    for op in operation:
        result.append(op(a ,b))
    return result
            
act_operations (20,5)

In [ ]:
act_operations(8,2,[lambda x, y: x**y, lambda x,y :10*x+y])

In [ ]:
operations.append(lambda x, y : x ** y)

In [ ]:
act_operations(8,2) # 기본값을 갖는 변수(기본 변수)가 리스트면 기본값은 호출할 시점

## 4.2 함수의 매개변수(인수)에 람다식 사용
- 람다식을 사용하는 곳: 함수의 매개변수 > return 문
### (1) map

In [ ]:
def map_template(func, L=[]):
    result= []
    for item in L:
        result.append(func(item))
    return result

In [ ]:
list_data =[1,2,3,4,5,6,7]
map_template(lambda a: a*2 ,list_data)

In [ ]:
# 리스트 컴프리헨션
[item * 2 for item in list_data]

In [ ]:
list(map(lambda x: x * 2 ,list_data))

In [ ]:
for data in map(lambda x:x*2,list_data):
    print(data, end=" ")

In [ ]:
# 예제prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000','1000']

def toint(value):
    return int(value.replace(',',''))

prices_int =map(lambda value: int(value.replace(',','')),prices)

for price in prices_int:
    print(price,end=' ')

In [ ]:
#예제2
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},{'name':'신길동', 'birth':'1995-12-18'},]
members2 = [{'name':'홍길동', 'year':2000, 'month':1,'day':1},{'name':'신길동', 'year':1995, 'month':12, 'day':18},]

In [ ]:
# '2000-01-01' => {'year':2000, 'month':1' 'day':1}
date_str = '2000-02-02'
keys = ['year','month','day']
# map(iambda(kv: ))
result = dict(map(lambda kv: (kv[0], int(kv[1])), zip(keys, date_str.split("-"))))
print(result)

In [ ]:
def split_date(date):
    split_date = date.split('-')
    return {
        'year' : int(split_date[0]),
        'month' : int(split_date[1]),
        'day' : int(split_date[2])
    }
split_date('2025-01-01'), split_date('1995-12-12')

In [ ]:
def member_preprocessing(member):
    return {
        'name': member.get('name','이름없음'),
        'year': int(member.get('birth').split('-')[0]),
        'month': int(member.get('birth').split('-')[1]),
        'day': int(member.get('birth').split('-')[2])
    }
member_preprocessing({'name':'홍길동','birth':'2002-01-01'})

In [ ]:
members2 = list(map(lambda member:{
        'name': member.get('name','이름없음'),
        'year': int(member.get('birth').split('-')[0]),
        'month': int(member.get('birth').split('-')[1]),
        'day': int(member.get('birth').split('-')[2])}, members1))

members2 
# member2 에 리스트로 묶고 map함수와 람다함수 매개변수 member는 딕셔너리 name에는 member에서 'name'  없으면 '이름 없음' 호출, year키에서 birth(2002-01-01)인트로 정수형으로 바꾸고 split에서 spc'-' 을 제거 [0]가져오기
# 그렇게 데이까지 똑같이 하고 member value

In [ ]:
members2 = [{'name':'홍길동', 'year':2000, 'month':1,'day':1},{'name':'신길동', 'year':1995, 'month':12, 'day':18},]

In [ ]:
# {'year':2000 'month':1 'day':1} => {'birth':'2025-01-01'}
def join_date(data):
    return {"birth": "{year:02}-{month:02}-{day:02}".format(**data)}
join_date({'year':2000,'month':9,'day':9})

In [ ]:
# {'name':'hong' year':2000 'month':1 'day':1} => {'name':'hong', birth':'2025-01-01'}


def join_date(data):
    return {"name": 'hong',"birth": "{year:02}-{month:02}-{day:02}".format(**data)}
join_date({'name':'hong', 'year':2000,'month':9,'day':9})

In [ ]:
list(map(lambda member:{"name": member.get('name'),
                        "birth": "{year:02}-{month:02}-{day:02}".format(**member)},  members2))

## (2) filter

In [ ]:
def filter_template(func,L=[]):
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [ ]:
list_data = [1,2,3,4,5,6,7,8,9]
def odd_chk(value):
    return value %2 !=0
#     if value%2:
#         return True
#     else:
#         return False
filter_template(lambda value: value%2 !=0,list_data)

In [ ]:
[value for value in list_data if value%2 !=0]

In [ ]:
# 예제: 다음 리스트에서 소수점 이하가 0인 수만 추출하시오.
L=[1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]

[value for value in L if value % 1== 0]

In [ ]:
list(filter_template(lambda value: value%1==0,L))

## (3) sort

In [ ]:
p = [10,3,6,1]
p.sort(reverse=True)
p

In [ ]:
# 무조건 0번째 item을 기준으로 오름차순 정렬
pairs = [(2,'two'),(1,'one'),(3,'three'),(4,'four')]
pairs.sort()
pairs

In [ ]:
# 1번째 기준으로 item기준으로 내림차순 정렬
pairs.sort(key=lambda data:data[1],reverse=True)
pairs

In [ ]:
# 합이 큰 순서로 정렬
number_2d =[[9,9],[1,100],[10,200]]
print(number_2d)
number_2d.sort(key=lambda items : sum(items),reverse= True)
print(number_2d)

In [ ]:
students = [{'name':'홍','score':99},
           {'name':'김','score':50},
           {'name':'박','score':77},
           {'score':100},]
students.sort(key=lambda data:data[1],reverse=True)

In [ ]:
name_select = lambda data: data.get('name')
name_select ({'name':'홍','score':99})

In [ ]:
#students를 name순으로 정렬(ㄱㄴㄷ순)
students.sort(key=lambda data : data.get('name','힣'))
students

In [ ]:
#student를 score 큰 순 정렬
students.sort(key=lambda data : data.get('score',0, ),reverse=True)
students

In [ ]:
# 예제 : books 정렬(no,title,price)
books = \
[{'no':2, 'title':'더트릭컬', 'writer':'폴빠','price':'19,80'},
    {'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
    {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
    {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
    {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
    {'no':6, 'title':'가격이없음', 'writer':'이길동'},]

In [ ]:
# no기준
books.sort(key=lambda book: book['no'])
books

In [ ]:
# title
books.sort(key=lambda book: book['title'])
books

In [ ]:
# price
books.sort(key=lambda book: book.get('price',0))
if
books

In [ ]:
# 30200, '12,000', '5000', 'ㅁ', None => 30200, 12000, 5000, 0, 0
def parse_int(price):
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price,int):
        return price
    else:
        return 0
    
def parse_int(price):
    if str(price).replace(',','').isdigit():
        return int(price.replace(',',''))
    
    else:
        return 0
    
parse_int = lambda price :int(price.replace(',','')) if isinstance(price, str) and price.replace(',','').isdigit() else \
price if isinstance(price, int)else 0

print(parse_int('5000'), parse_int(30200),parse_int('ㅁ'),parse_int(None))

In [ ]:
parse_int = lambda book: (
    int(book.get('price').replace(',', ''))
    if isinstance(book.get('price'), str) and book.get('price').replace(',', '').isdigit()
    else book.get('price') if isinstance(book.get('price'), int)
    else 0
)
print(
    parse_int({'price': '5000'}),
    parse_int({'price': 30200}),
    parse_int({'price': 'ㅁ'}),
    parse_int({'price': None})
)

In [ ]:
copyBooks = books.copy() # 복제
copyBooks.sort(key=lambda book: 
    int(book.get('price').replace(',', ''))
    if isinstance(book.get('price'), str) and book.get('price').replace(',', '').isdigit()
    else book.get('price') if isinstance(book.get('price'), int)
    else 0, reverse =True
)
copyBooks

# 5절 파이썬 내장함수
- import 하지 않고 바로 상용 가능한 함수
- 키워드(if, while, ..) 처럼 간주되므로, 식별자 (변수명, 함수명, 클래스명)로 사용하는 것을 피한다

In [ ]:
a = 10

In [ ]:
globals() #전역변수 리스트

In [ ]:
all([True, True, True, False]) #모든 요소가 다 True인지 여부

# 6절 연습문제

## 실습형

In [ ]:
# ex1)
data_list =[10,3,4,5]
def get_max_min(data_list):
    return max(data_list), min(data_list)
get_max_min(data_list)

In [ ]:
# ex1-2)
get_max_min = lambda data_list :( max(data_list),min(data_list)) b
get_max_min(data_list)

In [24]:
# ex2)
def bmi (weight, height):
    return weight / (height **2)
    
get_bmi = lambda w, h: "저체중" if bmi(w, h) < 18.5 else "정상" if bmi(w, h) < 25 else "과체중" if bmi(w, h) < 30 else "비만"

print(get_bmi(72,1.75))

정상

In [ ]:
# 실습형 3: 직각삼각형 w, h로 area, perimeter(넓이, 둘레)
import math

def get_trianle(w,h):
    area = w *h *0.5
    # math.sqrt() : 제곱근
    perimeter = w  + h + math.sqrt(w*w + h*h)
#     return area , perimeter
    return {'넓이':area, '둘레':perimeter}
get_trianle(3,4)

In [40]:
#실습 4)
def mysum(fRom, end):
    sum = 0
    for i in range(fRom,end+1):
        sum += i
    return sum
print(mysum(1,23))

276

In [62]:
# 실습5)
def get_abbrs(lst):
    result= []
    for city in lst:
        result.append(city[:3])
    return result
print(get_abbrs(['Seoul', 'Daegu', 'Kwangju', 'Jeju']))

['Seo', 'Dae', 'Kwa', 'Jej']

In [66]:
# 실습 5-1)
get_abbrs = lambda lst: list(map(lambda city: city[:3],lst))
print(get_abbrs(['Seoul', 'Daegu', 'Kwangju', 'Jeju']))

['Seo', 'Dae', 'Kwa', 'Jej']

In [71]:
# 실습6)
f = lambda x,y: x**y
print(f(3,2))

9

In [73]:
# 실습7)
list_data = [1,2,3,4,5]
list(map(lambda x: x ** 2 ,list_data))

[1, 4, 9, 16, 25]

In [74]:
[i **2 for i in list_data ]

[1, 4, 9, 16, 25]

In [80]:
#실습8)
a=[1,2,3]
print(*a) # 튜플인수 언패킹
print(a) # 그냥 출력

1 2 3
[1, 2, 3]

In [ ]:
# ex9)
# 2024-09-06

In [11]:
# ex10)
#입력받은 n개의 벡터(리스트, 튜플, 셋, 딕셔너리)의 크기를 return 하는 함수
def vector_size_check(*vector_var):
    print(vector_var)
vector_size_check([1,2],{10,20},{'name':'홍','age':30},(1,3),{1,55},{33,44})

([1, 2], {10, 20}, {'name': '홍', 'age': 30}, (1, 3), {1, 55}, {33, 44})

In [84]:
# ex11)
def scalar_vector_product(scalra, vector):
    result = [scalra * i for i in vector]
    return type(vector)(result)
print(scalar_vector_product(5,[1,2,3,4]))

[5, 10, 15, 20]

## 서술형

In [ ]:
# ex1)
# 2번

In [89]:
# ex2)
a= 10
def sub():
    global a        # a가 여러 함수에 들어가서 지역변수가아닌 전역변수 global로 바꿔야한다 
    a += 1
    print(a, end='')      
    
def func():
    
    global a
    
    for i in range(2):
        a=5
        a += 1
        print(a, end='')
        sub()
a += 1
func()

6767

In [ ]:
# ex3)
# func(var) = 200
# print(var) = 100

In [ ]:
# ex4)
# 5번

In [85]:
# ex5)
# 9번

In [86]:
# ex6) # 
# 3번

In [ ]:
# ex7)
# 4번