In [120]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size= "6" color="red">ch03.데이터구조</font></b>

- 리스트[80,90], 튜플(90,20), 딕셔너리{"name","홍","score":99}, 셋{10,20} 
# 1절 리스트
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/ 관리할 수 있음
- list()함수 이용도 가능 
- 인덱스: 각 요소의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
- 슬라이싱([from:to:step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [14]:
fruit = 'banana'
fruits = ['banana', 'apple','orange','grape']
 
type(fruits)

list

In [15]:
print(fruits)
print (fruits[1]) #인덱싱을 이용한 읽기 
print(fruits[4]) # 없는 인덱싱시 에러

['banana', 'apple', 'orange', 'grape']
apple

IndexError: list index out of range

In [16]:
fruits[0] = 'mango' # 인덱싱을 이용한 쓰기
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [10]:
fruits = ["mango","apple","orange"]
x,y,z = ["mango","apple","orange"]

print(f"x= {x}")
print(f"y= {y}")
print(f"z= {z}")

x= mango
y= apple
z= orange

In [11]:
# range(from, to, by): from부터 to앞까지 by씩 증가하는 나열 가능한 자료
    # 숫자를 순차적으로 사용할 수 있게
    # from 생략시 0, by생략시 1
range(0,10) # [0,1,2,3,4,5,6,7,8,9]

range(0, 10)

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(10,-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [28]:
for i in range(4):
    print("1")

1
1
1
1

In [4]:
fruits = ["mango","apple","orange"]
#print("{}번째 과일은 {}".format(0,fruits[0]))
#print("{}번째 과일은 {}".format(1,fruits[1]))
#print("{}번째 과일은 {}".format(2,fruits[2]))

for idx in range(len(fruits)):
    print("{}번째 과일은{}".format(idx, fruits[idx]))

0번째 과일은mango
1번째 과일은apple
2번째 과일은orange

In [17]:
list (enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [18]:
for i, fruit in enumerate(fruits): #[(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape

In [20]:
for fruit in fruits:
    print(f"{fruit}입니다")

mango입니다
apple입니다
orange입니다
grape입니다

In [26]:
#리스트는 여러타입의 데이터를 담을 수 있음
numbers = [0, True, "2",[2,3],[4,5,6]] #세세한 정보를 출력하려면 4번째에서 출력하려는 것을 []로 추출한다
numbers[2], numbers[4][1]

('2', 5)

In [32]:
#2차원 리스트 
numbers = [1,2,3,4,5]
numbers_2d = [[1,2,3,4,5],[10,20,30,40,50],[1,3,5,7,9],[2,4,6,8,10]]
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [33]:
# 특정행, 특정열 데이터 인덱싱
numbers_2d[1][4]

50

In [34]:
print(len(numbers_2d),len(numbers_2d[0]))

4 5

In [43]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [49]:
for i in range(len(numbers_2d)): #i : 행 #
    for j in range(len(numbers_2d[i])): # j:열
        print(f"{i}행{j}열:{numbers_2d[i][j]}",end="\t")
    print()
    
#

0행0열:1	0행1열:2	0행2열:3	0행3열:4	0행4열:5
1행0열:10	1행1열:20	1행2열:30	1행3열:40	1행4열:50
2행0열:1	2행1열:3	2행2열:5	2행3열:7	2행4열:9
3행0열:2	3행1열:4	3행2열:6	3행3열:8	3행4열:10

In [50]:
len(numbers_2d),len(numbers_2d[0]),len(numbers_2d[1]),len(numbers_2d[2])

(4, 5, 5, 5)

In [55]:
list (enumerate(numbers_2d)), list (enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [59]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print(f"{i}행,{j}열:{numbers_2d[i][j]}", end="\t")
    print()

0행,0열:1	0행,1열:2	0행,2열:3	0행,3열:4	0행,4열:5
1행,0열:10	1행,1열:20	1행,2열:30	1행,3열:40	1행,4열:50
2행,0열:1	2행,1열:3	2행,2열:5	2행,3열:7	2행,4열:9
3행,0열:2	3행,1열:4	3행,2열:6	3행,3열:8	3행,4열:10

## 1.2 기본 정보 조회

In [67]:
numbers = [1,12,3,4,5]
numbers_2d = [[100,0,1],
             [9,100,100],
             [59,100,130]]

In [64]:
# item 수
len(numbers), len(numbers_2d)

(5, 3)

In [69]:
# 최소값, 최대값
# 2차원 list의 최소/최대값 : 부분리스트 중 첫요사가 가장 작은값/ 큰값
min(numbers), min(numbers_2d), max(numbers),max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [70]:
# list의 데이터가 문자일 경우 ascII 코드값으로 min과 max적용
fruit = ["mango","apple","orange"]
min(fruits),max(fruits)

('apple', 'orange')

In [78]:
# 정렬하기
numbers = [1,12,3,4,5]
print("오름차순 정렬:", sorted(numbers))
print("내림차순 정렬:",sorted(numbers,reverse=True))
print("평균: ",sum(numbers)/len(numbers) )
print("합: ",sum(numbers))

print("sorted 함수 사용시 리스트의 내용이 바뀌지 않음: ",numbers)

오름차순 정렬: [1, 3, 4, 5, 12]
내림차순 정렬: [12, 5, 4, 3, 1]
평균:  5.0
합:  25
sorted 함수 사용시 리스트의 내용이 바뀌지 않음:  [1, 12, 3, 4, 5]

## 1.3 요소 추가
```
- +: 두 리스트 연결
- *: 리스를 곱한 수만큼 반복
```
- append() : 요소 맨 뒤에 추가
- extend(list): 리스트를 요소별로 맨 뒤에 추가 
- insert(idx, 값) : idx번째 인덱스 위치의 값 추가

In [80]:
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [81]:
numbers = [1, 2, 3]
print(numbers*3) # 곱한 수만큼 반복
print(3 * numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [83]:
numbers.append(4) # 맨 뒤 인덱스에 4를 추가
numbers

[1, 2, 3, 4, 4]

In [84]:
numbers.append([5,6,7])  # 맨 뒤 요소에 [5,6,7] 추가
numbers

[1, 2, 3, 4, 4, [5, 6, 7]]

In [86]:
numbers = [1,2,3]
numbers.extend([4,5,6]) # 맨 뒤에 요소별로 4,5,6 각각 추가
numbers

[1, 2, 3, 4, 5, 6]

In [87]:
lst = [ 'a','b','c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [89]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'h', 'e', 'l', 'l', 'o']

In [95]:
numbers = [1,2,3,4,5]
numbers.insert(1,["xx"]) #1번째 인덱스에 'xx' 추가
numbers

[1, ['xx'], 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터): 해당 찾을데이터가 있는 요소의 index를 반환
- 찾을데이터 in 변수: 찾을데이터가 list변수의 요소인지 여부
- count(찾을데이터): 리스트에서 해당 찾을 데이터의 갯수 반환

In [1]:
numbers = [ 1,2,3,[1,2,3,],1,2,3]
numbers.count(2), numbers.count([1,2,3])

(2, 1)

In [101]:
numbers.count(5)

0

In [104]:
print(2 in numbers) # 2가 numbers의 요소인지 여부
print(5 in numbers)

True
False

In [ ]:
numbers.index(5)

In [106]:
if 5 in numbers:
    print(numbers.index(5))
else:
    print("5가 요소에 포함되지 않습니다.")

5가 요소에 포함되지 않습니다.

In [107]:
if numbers.count(5):
    print(numbers.index(5))
else:
    print("5가 요소에 포함되지 않습니다.")

5가 요소에 포함되지 않습니다.

In [3]:
def safe_index(lst,item):
    
    """첫번째 매개변수 lst에서 item요소가 있는 index를 반환. item요소가 없으면 -1 반환"""
    if item in lst:
        return lst.index(item)
    return -1

In [1]:
safe_index(numbers, 5)

NameError: name 'safe_index' is not defined

In [6]:
from lst import safe_index #lst.py(모듈)안의 safe_index를 메모리에 load
numbers = [1,2,3]
safe_index(numbers,2), safe_index(numbers,5)

(1, -1)

In [7]:
numbers[5] # 벗어난 인덱싱 시 에러

IndexError: list index out of range

In [8]:
numbers[2:5] # 벗어난 인덱스로 슬라이싱 시 에러가 안 남

[3]

# 1.5 원하는 요소 추출

1. 리스트 슬라이싱: 

    - [from:to:step] from부터 to 앞까지 step씩 증가하는 index값을 추출
        * from생략시 처음, to 생략시 끝, step생략시 1
    - 인덱스의 범위를 벗어난 값도 에러나지 않음
    - index는 음수도 가능

2. **리스트컴프리헨션 : 원하는 조건의 데이터 추출

In [12]:
numbers = [1,3,5,9,10,12,13,18,19,20]
print(numbers[::-1]) #거꾸로 출력
print(numbers[0:-1:2]) #짝수 index 값 출력
print(numbers[2:100]) #인덱스를 벗어난 슬라이싱 가능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]

In [17]:
# 모든 데이터 추출
numbers = [1,3,5,9,10,12,13,18,19,20]
#for data in numbers:
#   print(data, end="\t")
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [22]:
# 짝수 데이터 추출
# for data in numbers:
#     if data % 2 == 0:
#         print(data, end= " ")
[data for data in numbers if data %2 == 0]

[10, 12, 18, 20]

In [27]:
# ex1. numbers에서 10이상인 요소만 추출
[data for data in numbers if data >=10]

[10, 12, 13, 18, 19, 20]

In [30]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ["orange","apple","mango","kiwi"]
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [31]:
# ex2-1) fruits 리스트의 과일 글자 수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [32]:
# ex3. 3이상인 요소들의 제곱을 추출
L = [1,2,3,4,5]
[l**2 for l in L if l>=3 ]

[9, 16, 25]

In [33]:
# ex4. 리스트 요소의 값의 2배를 추출 : 2,4,6,8,10
[l * 2for l in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기

- 인덱스, 슬라이싱을 이용해서 수정

In [35]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [38]:
# 슬라이싱(step부분 미포함)을 이용하여 부분 리스트를 통째로 수정
numbers [0:2] =["xx","xx","xx","xx","xx","xx","xx"]
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 3, 4, 5, 6, 7, 8, 9]

In [40]:
# 슬라이싱(step부분 포함)
numbers = [0] * 10
print('수정전: ',numbers)
numbers[0::2] = [9,9,9,9,9]
print('수정후: ',numbers)

수정전:  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후:  [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [41]:
numbers[::2] = [1,1]

ValueError: attempt to assign sequence of size 2 to extended slice of size 5

## 1.7 요소삭제
- pop(): 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx): idx번째 요소가 반환되고 삭제(특정한 매개변수 삭제)
- remove(data): list안의 data가 삭제
- del 리스트변수[idx]: idx번째 요소가 삭제

In [51]:
numbers = [1,2,3,4,5]
print("삭제한 데이터: ",numbers.pop())
print("삭제 후 numbers: ", numbers)
print("1번째 삭제한 데이터: ",numbers.pop(1))
print("1번째 삭제 후 numbers: ",numbers)
print("데이터 1삭제")
numbers.remove(1)
print("데이터 1 삭제 후 number: ",numbers)
print("del numbers[1]")
del numbers[1]
print(numbers)

삭제한 데이터:  5
삭제 후 numbers:  [1, 2, 3, 4]
1번째 삭제한 데이터:  2
1번째 삭제 후 numbers:  [1, 3, 4]
데이터 1삭제
데이터 1 삭제 후 number:  [3, 4]
del numbers[1]
[3]

In [52]:
# numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터는 없는 item입니다")

해당 데이터는 없는 item입니다

In [54]:
numbers.clear() #모든 요소를 삭제
numbers

[]

## 1.8 정렬하기

In [56]:
numbers = [9,5,0,8,6]
print("numbers는 변경하지 않고, 정렬결과: ",sorted(numbers))
print("numbers: ", numbers)

numbers는 변경하지 않고, 정렬결과:  [0, 5, 6, 8, 9]
numbers:  [9, 5, 0, 8, 6]

In [60]:
numbers.sort(reverse = True)# numbers 자체가 오름차순 정렬한 결과로 바꿈
numbers

[9, 8, 6, 5, 0]

In [59]:
numbers.reverse() # 리스트를 역순으로 변경
#numbers = numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [63]:
# 스칼라 데이터의 복제
i = 10
cp_i = i
print(f"원본i= {i}, 복사본cp_i={cp_i} /원본주소 = {id(i)}, 복사본 주소{id(cp_i)}")
cp_i = 99
print(f"원본i= {i}, 복사본cp_i={cp_i} /원본주소 = {id(i)}, 복사본 주소{id(cp_i)}")

원본i= 10, 복사본cp_i=10 /원본주소 = 1948395045392, 복사본 주소1948395045392
원본i= 10, 복사본cp_i=99 /원본주소 = 1948395045392, 복사본 주소1948395048240

In [67]:
# 데이터 구조의 복제
numbers = [5,6,1,9]
new_numbers = numbers
print("원본 주소: ",id(numbers))
print("복제본 주소: ",id(new_numbers))
new_numbers[0] = 99
print("원본 주소: ",numbers)
print("복제본 주소: ",new_numbers)
print("원본 주소: ",id(numbers))
print("복제본 주소: ",id(new_numbers))

원본 주소:  1948514533312
복제본 주소:  1948514533312
원본 주소:  [99, 6, 1, 9]
복제본 주소:  [99, 6, 1, 9]
원본 주소:  1948514533312
복제본 주소:  1948514533312

In [68]:
# 할당
numbers = [5,6,1,9]
new_numbers = numbers
new_numbers.sort()
print("원본: ",numbers)
print("복제본: ",new_numbers)
print("원본 주소: ",id(numbers))
print("복제본 주소: ",id(new_numbers))

원본:  [1, 5, 6, 9]
복제본:  [1, 5, 6, 9]
원본 주소:  1948507311552
복제본 주소:  1948507311552

In [69]:
# 리스트 복제(깊은 복사)
numbers = [5,6,1,9]

new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
new_numbers.sort(reverse=True) #내림차순 정렬
print("원본: ",numbers)
print("복제본: ",new_numbers)
print("원본 주소: ",id(numbers))
print("복제본 주소: ",id(numbers))

원본:  [5, 6, 1, 9]
복제본:  [9, 6, 5, 1]
원본 주소:  1948506357632
복제본 주소:  1948506357632

In [71]:
city = ["서울","대전","대구","부산","하남","수원","제주"]
temp = city.copy()
temp.sort()
print("정렬전: ",city)
print("정렬후: ",temp)

정렬전:  ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후:  ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [72]:
temp.clear()
print("정렬전: ",city)
print("정렬후: ",temp)

정렬전:  ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후:  []

# 2절 튜플
- 리스트 ([])와 유사하지만 읽기전용. 수정이 필요없는 데이터애서 사용
- 수정이 불가하므로, 튜플에서 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음
- ()이용해서 생성, tuple() 함수 이용

In [74]:
city = ('서울', '대전', '대구', '부산', '하남')
# 파이썬은 여러개의 값이 전달될 때 튜플 타입으로 전달
city = '서울', '대전', '대구', '부산', '하남'
print(type(city))
print(city)

<class 'tuple'>

In [75]:
# 매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용
",".join(city)

'서울,대전,대구,부산,하남'

In [79]:
from lst import safe_index
safe_index(city, '대전')

1

In [82]:
l =['서울']
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [85]:
city = ('서울') # 요소가 하나 있는 튜플(X) -> str
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울
2

In [86]:
city = ('서울',) # 요소가 하나 있는 튜플(0) #데이터 하나가 튜플이 되려면 comma를 찍어야함  
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [3]:
numbers = (1,2,3)
# numbers.append(4) 수정하기 위한 함수는 제공되지 않음

In [91]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [92]:
numbers.count(2)

1

In [5]:
numbers.index(3)

2

In [94]:
#numbers.index(4)
if 4 in numbers:
    numbers.index(4)
else:
    print("해당 데이터 없음")

해당 데이터 없음

In [4]:
from lst import safe_index
safe_index(numbers,4)

-1

In [15]:
numbers = (1,4,3,2)
if 4 in numbers[:]:
numbers.index(2, 2) # index(찾을 데이터, 찾기 시작할 index=0)
else:
    print("데이터가 없습니다.")

IndentationError: expected an indented block after 'if' statement on line 2 (2417954269.py, line 3)

In [28]:
def safe_index(lst, item, start=0):
    """
    첫번째 매개변수 lst: 리스트, 튜플
    두번째 매개변수 item: 리스트나 튜플에서 찾을 데이터
    세번째 매개변수 start: 몇 번째 index부터 찾을지 (기본값: 0)
    """
    #if item in lst[start:]:
        return lst.index(item, start) if item in lst[start:] else -1  # start번째부터 item이 있는 index를 반환
   # else:
      #  return -1

In [30]:
safe_index(numbers,4)

4

In [26]:
# 위의 if문을 조건식을 이용하여 한줄 코드

def diff(x, y):
    return x-y if x>y else y-x # if문이 참일 때 취할 값 if 조건 else if문이 거짓일 때 값
#     if x>y:
#         return x-y
#     else:
#         return y-x
diff(10,20)

10

In [33]:
numbers = (1,2,3)
print(numbers + numbers)# 연결 (튜플도 연결 가능 리스트도 가능)
print(3 * numbers)
print(numbers * 3)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [36]:
#ex. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력하시오
numbers = (11,2,3,4,5,6)
tuple(num **2 for num in numbers if num % 2 == 0)

(4, 16, 36)

# 3절 딕셔너리
- {}를 이용해서 키(key)-값(value)의 쌍으로 구성된 자료구조
- 키는 유일한 값(중복 허용 안함.) 키에 list는 사용불가. 키에 tuple은 사용 가능
- 값은 중복 가능. 모든 데이터 타입 가능 
- 인덱스를 이용한 참조는 지원 안 함

In [37]:
dic = {'name':'홍길동',1:22,(1,2):[1,2]}
print(type(dic))

<class 'dict'>

In [38]:
print(dic)

{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [39]:
len(dic) #데이터 요소의 갯수

3

In [41]:
my_favorite = {'fruit':'apple','number':12, 'sport':'yoga'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'yoga'}

In [51]:
# print(my_favorite['number']) # 키목록에 없는 데이터를 참조시 에러
print(my_favorite.get('people')) # 없는 키를 get함수로 참조시 None
print(my_favorite.get('number','-')) #없는 키를 get함수로 참조시 '-'

None
12

In [52]:
if my_favorite.get('people'):
    pass
else:
    print("데이터가 없음")

데이터가 없음

## 딕셔너리 item 수정, 추가, 삭제

In [58]:
my_favorite = {'fruit':'apple','number':12, 'sport':'yoga'}
# 추가
my_favorite['people'] = '홍길동'
my_favorite['subject'] = 'AI'
print('people 추가후: ',my_favorite)
# 여러 item을 한꺼번에 추가
my_favorite.update({'subject': '수학', 'major':'AI'})
#한 꺼번에 추가후
print(my_favorite)

people 추가후:  {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': 'AI'}
{'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}

In [60]:
# 한 item씩 수정
my_favorite['fruit'] = 'mango'
my_favorite['number'] = -9
print('하나씩 수정 후: ', my_favorite)

#여러 item을 한 번에 수정
# my_favorite.update({"fruit":"kiwi", 'number':-99})
my_favorite.update(fruit='kiwi', number=-99)
print("한 거번에 수정 후: ",my_favorite)

하나씩 수정 후:  {'fruit': 'mango', 'number': -9, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
한 거번에 수정 후:  {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}

In [67]:
# item 제거
if 'subject' in my_favorite:
    del my_favorite['subject'] # subject item 제거
else:
    print("subject키가 존재 하지 않습니다.")
print("del 제거 후(1)", my_favorite)
#item 제거(2)
if 'major' in my_favorite:
    print('제거한 데이터',my_favorite.pop('major')) # major키 값을 반환하고 제거
else:
    print("major 키가 존재하지 않습니다")
print(my_favorite)

subject키가 존재 하지 않습니다.
del 제거 후(1) {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동'}
major 키가 존재하지 않습니다
{'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동'}

In [69]:
# for문을 이용한 튜플 출력
my_tuple = ('홍길동', 30, '010-9999-9999')

In [76]:
for data in my_tuple:
    print(data, end='\t')
print()
for idx in range(len(my_tuple)):
    print(f"{idx}번째: {my_tuple[idx]}",end="\t")
print() #개행
for idx, data in enumerate(my_tuple):
    print(f"{idx}번째 : {data}", end="\t")

홍길동	30	010-9999-9999
0번째: 홍길동	1번째: 30	2번째: 010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

In [78]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [86]:
for key in my_dic:    # 비추
    print(f"{key}: {my_dic[key]}")

name: 홍길동
age: 30
tel: 010-9999-9999

In [87]:
my_dic.keys()# 키의 목록

dict_keys(['name', 'age', 'tel'])

In [89]:
my_dic.values() #값의 목록

dict_values(['홍길동', 30, '010-9999-9999'])

In [90]:
my_dic.items() # 키-값 쌍 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [96]:
for key, value in my_dic.items():
    print(f"{key}:{value} ", end="\t")

name:홍길동 	age:30 	tel:010-9999-9999

In [97]:
for value in my_dic.values():
    print(value, end="\t")

홍길동	30	010-9999-9999

In [105]:
# for i , j in enumerate(my_dic):
#     print(f"{i}.{j}:{my_dic[j]}") #순서도 씌우는 법
for no, (key,value) in enumerate(my_dic.items()):
    print(f"{no+1}.{key}:{value}")

1.name:홍길동
2.age:30
3.tel:010-9999-9999

# in 연산자

In [106]:
# tuple, list
t = (10, 20, 30)
30 in t # list, tuple, set에서의 in 연산자: 요소 (데이터, item)가 있는 여부 반환

True

In [111]:
# dictionary(딕셔너리)
dic = {"name":"홍길동", "age":30}
"홍길동" in dic #dictionary에서의 in연산자 :key가 있는지 여부 반환

False

In [109]:
"홍길동" in dic.values()

True

# 복제하기

In [112]:
# 할당
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite
print("my_favorite 주소: ", id(my_favorite))
print("new_favorite 주소: ", id(my_favorite))

my_favorite 주소:  2877478053568
new_favorite 주소:  2877478053568

In [114]:
new_favorite['fruit'] = "과일은 다 좋아"
new_favorite['people'] = "홍길동"
print('원본: ', my_favorite)
print('수정본: ', new_favorite)

원본:  {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}
수정본:  {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

In [149]:
# 복제(깊은 복사)
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite.copy()
print("my_favorite 주소: ", id(my_favorite))
print("new_favorite 주소: ", id(new_favorite))
new_favorite['fruit'] = "과일은 다 좋아"
new_favorite['people'] = "홍길동"
print('원본: ', my_favorite)
print('수정본: ', new_favorite)

my_favorite 주소:  2877479629184
new_favorite 주소:  2877479973568
원본:  {'fruit': 'apple', 'number': 12}
수정본:  {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

# 4절 셋
- 중복을 허용하지 않는 집합(순서x)
- {}나 set()함수를 이용해서 셋 생성 ex. set([1,2,1]), set({'name'}:'홍길동'})
- 추가 : add(), update()
- 삭제: remove()
- 집합연산자: &교집합, |합집합, -차집합

In [150]:
st = {'name':'홍길동','age':30}
se = {"홍길동",30}

In [151]:
fruits = {'banana','orange', 'apple'}
fruits

{'apple', 'banana', 'orange'}

In [153]:
s1 = set([1,2,3,1,1,1,1,1,1,1])
s1

{1, 2, 3}

In [156]:
s1 = set((1,2,3,1,1,1,1,1,1,1))
s1

{1, 2, 3}

In [158]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할 때는 key만 적용
s2 = set({'name':'홍길동','age':30, 'address':'서울'})
s2

{'address', 'age', 'name'}

## 추가하기
- add(): 기본자료형, 튜플 데이터 하나 추가. list, dic, set유형은 add()함수 사용불가 
- update(): 리스트, 튜플, 딕셔너리, 셋 요소를 하나씩 따로 추가.

In [173]:
# 1이 set에 있는 상태에서 True추가
s = {1,2,3,1,1}
s.add(True)
print ("True add후: ",s)

True add후:  {1, 2, 3}

In [175]:
# 0이 set에 있는 상태에서 false추가
s = {False,1,2}
s.add(1)
print("1 add 후: ",s)

1 add 후:  {False, 1, 2}

In [164]:
s = {1,2,3}
s.add(4)
s.add('오')
s.add((6,7))
print("add()후: ",s)

add()후:  {1, 2, 3, 4, '오', (6, 7)}

In [169]:
s = {1,2,3}
# s.update([4,5,6])
# s.update( (4,5,6)
s.update({4,5,6})
s.update({'name':'홍', 'age':20})
print("update()후: ",s)

update()후:  {1, 2, 3, 4, 5, 6, 'age', 'name'}

## 삭제하기 
    remove()

In [178]:
s = {1,2,3,1,1}
s.remove(3)
s

{1, 2}

In [179]:
# s.remove(5) # 없는요소를 삭제할 경우 에러
if 5 in s:
    s.remove(5)
else:
    print("찾을 데이터는 없습니다")

찾을 데이터는 없습니다

# 집합연산자
    &(교집합), |(합집합)=,-(차집합).

In [182]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print("s1: ",s1)
print("s2: ",s2)
print("s1&s2=",s1 &s2)
print("s1|s2",  s1|s2)
print("s1-s2",  s1-s2)
print("s2-s1", s2-s1)

s1:  {1, 2, 3, 4, 5}
s2:  {3, 4, 5, 6, 7}
s1&s2= {3, 4, 5}
s1|s2 {1, 2, 3, 4, 5, 6, 7}
s1-s2 {1, 2}
s2-s1 {6, 7}

In [184]:
names= {'길동',"길숙","길자"}
for name in names:
    print(name)

길자
길동
길숙

# 5절 enumerate
- 반복자. 반복문을 처리할 때 사용할 순서객체를 생성하는 함수
- 리스트, 튜플, 딕셔너리, 셋을 for문에 사용시 다 사용 가능

In [186]:
list(enumerate(names))

[(0, '길자'), (1, '길동'), (2, '길숙')]

In [198]:
for no, names in enumerate(names):
    print("{}.{}".format(no+1,names))

1.길자
2.길동
3.길숙

In [26]:
names= ['길동',"길숙","길자"]
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울','판교','하남']
ranks = ['1','2','3']

In [13]:
idx =['길숙', '02-999-9999', '서울',
 '길동', '02-888-8888', '판교',
 '길자', '02-777-7777', '하남']

In [20]:
for idx in range(len(names)):
    print(f"{idx+1}.{names[idx]}님의 연락처는 {tels[idx]}이고, {adds[idx]}살아요")

1.길동님의 연락처는 02-999-9999이고, 서울살아요
2.길숙님의 연락처는 02-888-8888이고, 판교살아요
3.길자님의 연락처는 02-777-7777이고, 하남살아요

In [27]:
list(zip(ranks,names,tels,adds))

[('1', '길동', '02-999-9999', '서울'),
 ('2', '길숙', '02-888-8888', '판교'),
 ('3', '길자', '02-777-7777', '하남')]

In [9]:
for name, tel, add in zip(names,tels,adds):
    print(f"{name}님의 연락처는 {tel}이고, {add}살아요")

길숙님의 연락처는 02-999-9999이고, 서울살아요
길동님의 연락처는 02-888-8888이고, 판교살아요
길자님의 연락처는 02-777-7777이고, 하남살아요

In [15]:
 list(enumerate(zip(names,tels,adds)))

[(0, ('길숙', '02-999-9999', '서울')),
 (1, ('길동', '02-888-8888', '판교')),
 (2, ('길자', '02-777-7777', '하남'))]

In [18]:
for idx, (name,tel,add) in enumerate(zip(names,tels,adds)):
    print(f"{idx}.{name}님의 연락처는{tel}이고,{add}에 살아요")

0.길숙님의 연락처는02-999-9999이고,서울에 살아요
1.길동님의 연락처는02-888-8888이고,판교에 살아요
2.길자님의 연락처는02-777-7777이고,하남에 살아요

In [28]:
members = [] # 딕셔너리 리스트
for rank, name, tel, add in zip(ranks,names,tels,adds):
    member = {'rank':rank,'name':name, 'tel':tel, 'add':add}
    members.append(member)
members

[{'rank': '1', 'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'rank': '2', 'name': '길숙', 'tel': '02-888-8888', 'add': '판교'},
 {'rank': '3', 'name': '길자', 'tel': '02-777-7777', 'add': '하남'}]

In [23]:
[{'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
{'name': '길숙', 'tel': '02-888-8888', 'add': '판교'},
{'name': '길자', 'tel': '02-777-7777', 'add': '하남'}]

[{'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'name': '길숙', 'tel': '02-888-8888', 'add': '판교'},
 {'name': '길자', 'tel': '02-777-7777', 'add': '하남'}]

# 문제풀이

In [74]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [35]:
#1.
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [39]:
#2.
data = [200,300,400,500]
numbers.extend([data])
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [200, 300, 400, 500]]

In [47]:
#3.
print(numbers[0:5:])

[1, 2, 3, 4, 5]

In [63]:
#4.
for data in numbers:
     if data % 2 == 0:
        print(data, end= " ")

2 4 6 8 10

In [72]:
#5.**
for i in range(len(numbers)):
    if numbers[i] % 2 == 0:   # 짝수라면
        numbers[i] = 0
[numbers[idx] if idx%2!=]
print(numbers)

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [119]:
#6.
numbers[::-1]
#numbers.reverse()
print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [87]:
member_info ={"name":"홍길동 ", "age":20, "address":"서울시 마포구","score":90}

In [88]:
#7.
print(member_info.get("address"))

서울시 마포구

In [100]:
#8.
# print(member_info.pop("score"))
if member_info.get('people'):
    pass
else:
    print("데이터가 없음")

데이터가 없음

In [93]:
member_info["address"]= "서울시 서대문구"
print(member_info.get("address"))

서울시 서대문구

In [108]:
member_list = list(member_info.values())
member_list

['홍길동 ', 20, '서울시 서대문구']

In [109]:
# 서술형 1.
# orange, apple, banana

SyntaxError: invalid character '“' (U+201C) (1805218148.py, line 1)

In [110]:
#2.
# 3번

In [111]:
#3.
#[1,3,5]

In [112]:
#4.
# expend

In [113]:
#5.
# 0 1 0 3 0 5 0 7 0 9

In [114]:
#6.
# 5 7 9

In [115]:
#7.
# 0113253749

In [116]:
#8.
# 1번

In [117]:
# 9
# x= apple
# y= banana
# z = orange

In [118]:
#10
#3번

In [121]:
#11
# def

<!-- ![변수타이틀](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg) -->

<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
    style="float:left"
     width="500">